  
		   <div class="left_col scroll-view">
                  <div class="navbar nav_title" style="border: 0;">
                     <a href="/admin" class="site_title"><i class="fa fa-paw"></i> <span>School System</span></a>
                  </div>
                  <div class="clearfix"></div>
                  <!-- menu profile quick info -->
                  <div class="profile clearfix">
                     <div class="profile_pic">
                        <img src="images/<%=mobno %>.jpg" alt="..." class="img-circle profile_img">
                     </div>
                     <div class="profile_info">    
                        <span>Welcome,</span>
                        <h2><%= Name %></h2>
                     </div>
                  </div>
                  <!-- /menu profile quick info -->
                  <br />
                  <!-- sidebar menu -->
                  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                     <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                   
                <li><a><i class="fa fa-graduation-cap"></i> Attendence<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/attendence">Student Attendence</a></li>
                      
                      <li><a href="/attendence/Update">Update Attendence</a></li>
                      <li><a href="/attendence/view">View Attendence</a></li>
                      
                    </ul>
               </li>
              
				  <li><a><i class="fa fa-bullhorn"></i> Announcement<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/Announcement">Send Announcement</a></li>
                      <li><a href="/Announcement/Edit">Edit Announcement</a></li>
                      <li><a href="/Announcement/View">View Announcement</a></li>
                     
                      </ul>
                  </li>
                 
				  <li><a><i class="fa fa-calendar"></i> Annual Calendar<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/AnnualCalander">Create Calander</a></li>
                      <li><a href="/AnnualCalander/Edit">Edit Calander</a></li>
                      <li><a href="/AnnualCalander/View">View Report</a></li>
                      </ul>
                  </li>
               
                   
                   
                   <li><a><i class="glyphicon glyphicon-blackboard"></i> Notice Board<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/Noticeboard">Create Notice</a></li>
                      <li><a href="/Noticeboard/Edit">Edit Notice</a></li>
                      <li><a href="/Noticeboard/View">View Report</a></li>
                      </ul>
                  </li>
                  <li><a><i class="glyphicon glyphicon-blackboard"></i> Homework<span class="fa fa-chevron-down"></span></a>
                     <ul class="nav child_menu">
                       <li><a href="/homework">Assign Homework</a></li>
                       <li><a href="/homework/Edit">Edit Homework</a></li>
                       <li><a href="/homework/View">View Homework</a></li>
                       </ul>
                   </li>
                   <li><a><i class="fa fa-bus"></i> Location Tracking<span class="fa fa-chevron-down"></span></a>
                     <ul class="nav child_menu">
                       <li><a href="/admin">View Location</a></li>
                       </ul>
                   </li>

   
                   <li><a><i class="fa fa-book"></i> Student Marks<span class="fa fa-chevron-down"></span></a>
                     <ul class="nav child_menu">
                       <li><a href="/admin">View Marks</a></li>
                       </ul>
                   </li>
                   <li><a><i class="fa fa-book"></i> Fees<span class="fa fa-chevron-down"></span></a>
                     <ul class="nav child_menu">
                       <li><a href="/Fee/Category">Fee Category</a></li>
                       <li><a href="/Fee/SubCategory">Fee SubCategory</a></li>
                       <li><a href="/Fee/Payment">Fee Payment</a></li>
                       </ul>
                   </li>
                   <li><a><i class="fa fa-rupee"></i> Feedback <span class="fa fa-chevron-down"></span></a>
                     <ul class="nav child_menu">
                       <li><a href="/admin">View Feedback </a></li>
                       </ul>
                   </li>
                  
                  <li><a><i class="fa fa-file-video-o"></i> Videos<span class="fa fa-chevron-down"></span></a>
                     <ul class="nav child_menu">
                       <li><a href="/Video">Upload Video</a></li>
                       <li><a href="/admin">View Gallery</a></li>
                       </ul>
                   </li>
                  <li><a><i class="fa fa-file-image-o"></i> Gallery<span class="fa fa-chevron-down"></span></a>
                     <ul class="nav child_menu">
                       <li><a href="/Gallery">Upload Image</a></li>
                       
                       <li><a href="/admin">View Gallery</a></li>
                       </ul>
                   </li>
                   <li><a><i class="fa fa-file-image-o"></i> Initial Setup<span class="fa fa-chevron-down"></span></a>
                     <ul class="nav child_menu">
                       <li><a href="/Classroom/Create">Add New Class</a></li>
                       
                       
                       </ul>
                   </li>
                  
                        </ul>
                     </div>
                     <div class="menu_section">
                        <ul class="nav side-menu">
                     </div>
                  </div>
                  <!-- /sidebar menu -->
                  <!-- /menu footer buttons -->
                  <div class="sidebar-footer hidden-small">
                     <a data-toggle="tooltip" data-placement="top" title="Settings">
                     <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                     </a>
                     <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                     <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                     </a>
                     <a data-toggle="tooltip" data-placement="top" title="Lock">
                     <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                     </a>
                     <a data-toggle="tooltip" data-placement="top" title="Logout" href="/Logout">
                     <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                     </a>
                  </div>
                  <!-- /menu footer buttons -->
               </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                  <h2  style="margin-left: 36%;font-size: 23px;">DAV Public school</h2>
                  <h5 style="margin-left: 39%;">Bokaro Steel City</h5>
               <div class="nav_menu">
                     
                  <nav>
                     <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                     </div>
                     <!-- <h3 class="nav navbar-nav navbar-centre">DAV Public school</h3> -->
                     
                     <ul class="nav navbar-nav navbar-right">
                        <li class="">
                           <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                           <img src="images/<%=mobno %>.jpg" alt=""><%= Name %>

                           <span class=" fa fa-angle-down"></span>
                           </a>
                           <h2 id="LoggedUserId" style="display: none;"><%=userid %></h2>
                    
                           <ul class="dropdown-menu dropdown-usermenu pull-right">
                              <li><a href="javascript:;"> Profile</a></li>
                              <li>
                                 <a href="javascript:;">
                                 <span class="badge bg-red pull-right">50%</span>
                                 <span>Settings</span>
                                 </a>
                              </li>
                              <li><a href="javascript:;">Help</a></li>
                              <li><a href="/Logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                           </ul>
                        </li>
                       
                     </ul>
                  </nav>
               </div>
            </div>
            <!-- /top navigation -->
          