<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Announcement Screen</title>
 <!-- Bootstrap -->
 <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
 <!-- Font Awesome -->
 <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">
 <!-- NProgress -->
 <link href="../nprogress/nprogress.css" rel="stylesheet">
 <!-- bootstrap-daterangepicker -->
 <link href="../bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

       <!-- PNotify -->
       <link href="../pnotify/dist/pnotify.css" rel="stylesheet">
       <link href="../pnotify/dist/pnotify.buttons.css" rel="stylesheet">
       <link href="../pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
  

 <!-- Custom Theme Style -->
 <link href="../css/custom.min.css" rel="stylesheet">
 
 <!-- jQuery -->
 <script src="../jquery/dist/jquery.min.js"></script>
      <!-- jQuery Smart Wizard -->
      <script src="../jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    
    <script type="text/javascript">
       $(document).ready(function () {
        
        var selectValues = <%- JSON.stringify(classsec) %>;
      	///	console.log(selectValues.length)
      		var classnames = [];
      		for (i = 0; i < selectValues.length; i++) { 
      			if (classnames.includes(selectValues[i].class_Name)){
      			//	console.log()
      				} else {
      				$('#SchoolClass').append($("<option></option>")
                          .attr("value",selectValues[i].class_id)
                          .text(selectValues[i].class_Name))
                           
      					classnames.push(selectValues[i].class_Name);
      			}
      		}
      		
      $('#SchoolClass').on('change', function() {
        $( "#SchoolClass" ).removeClass( "parsley-error" );
        $("#schoolsection").removeClass("parsley-error");
        $('#schoolsection').empty();
        var selectValues = <%- JSON.stringify(classsec) %>;
          var selectedval = $("#SchoolClass option:selected").html();
      		for (i = 0; i < selectValues.length; i++) { 
      		var dataclass = selectValues[i].class_Name
      			if (selectedval == dataclass ){
      				//console.log("Not doufnd"+dataclass);
      					$('#schoolsection').append($("<option></option>")
                          .attr("value",selectValues[i]._id)
                          .text(selectValues[i].class_section)); 
      				} 
      		}
      });

      
         
$('#schoolsection').on('change', function () {
   $("#schoolsection").removeClass("parsley-error");
   $('#studentSelect').empty();
   
   var classid = $("#schoolsection option:selected").val();
               // PREPARE FORM DATA
               var formData = {
                  class_id: classid
               }
               // DO POST
               $.ajax({
                  type: "post",
                  contentType: "application/json",
                  url: "/student/API/GetStudentbySection",
                  data: JSON.stringify(formData),
                  dataType: 'json',
                  success: function (student_data) {
                  //  console.log(JSON.stringify(student_data));
						for (i = 0; i < student_data.length; i++) {

                    
                       $('#studentSelect').append($("<option></option>")
						.attr("value", student_data[i]._id)
            .text(student_data[i].first_name+" "+student_data[i].middle_name+" "+student_data[i].last_name)) ;
            
					}
                  },
                  error: function (e) {
                     alert("Error!")
                     //console.log("ERROR: ", e);
                  }
               });
   
 
});
   
      $('#NotificationType').on('change', function() {
        $("#NotificationType").removeClass("parsley-error");
        //$('#schoolsection').empty();
        
          var NotificationType = $("#NotificationType option:selected").html();
      		if (NotificationType == "For All" || NotificationType == "All Student"||NotificationType == "All Teachers"){
			$("#classWise").hide(500);
			$("#SectionWise").hide(500);
			$("#TeacherWise").hide(500);
			$("#StudentWise").hide(500);
			
			} else if (NotificationType == "Student Class Wise"){
				$("#classWise").show(500);
				$("#SectionWise").hide(500);
				$("#TeacherWise").hide(500);
				$("#StudentWise").hide(500);
			}else if (NotificationType == "Student Section Wise"){
				$("#classWise").show(500);
				$("#SectionWise").show(1000);
				$("#TeacherWise").hide(500);
				$("#StudentWise").hide(500);
			}else if (NotificationType == "Individual Teachers"){
				$("#classWise").hide(500);
				$("#SectionWise").hide(1000);
				$("#TeacherWise").show(500);
				$("#StudentWise").hide(500);
			}else if (NotificationType == "Individual Student"){


				$("#classWise").show(500);
				$("#SectionWise").show(1000);
				$("#TeacherWise").hide(500);
				$("#StudentWise").show(1500);
			}
      });
      
        
        
        // Smart Wizard        
 
 
          $('#wizard').smartWizard({
             onLeaveStep: leaveAStepCallback,
             autoAdjustHeight:true,
             onFinish: onFinishCallback
          });
 
          function leaveAStepCallback(obj, context) {
             // alert("Leaving step " + context.fromStep + " to go to step " + context.toStep);
             return validateSteps(context.fromStep); // return false to stay on step and true to continue navigation 
          }
 
          function onFinishCallback(objs, context) {
             if (validateAllSteps()) {
              //  alert("sdnSend data")
               
                // got all data 
                var NotificationType = $("#NotificationType option:selected").html();
                var class_name = $("#SchoolClass option:selected").html();
                var section = $("#schoolsection option:selected").val();
                var classid = $("#schoolsection option:selected").val();
                var  student = $("#studentSelect option:selected").val();
                var allstudent = $.map($('#studentSelect option'), function(e) { return e.value; });
                var AllSection = $.map($('#schoolsection option'), function(e) { return e.value; });
                 var Announcement =  $("#AnnouncementId").val();
                 var loggedinUser  = $("#LoggedUserId").text();
                var formData = {
                  NotificationType :  NotificationType,
                  class : class_name  ,
                  section : section,
                  student : student,
                  AllStudent: allstudent,
                  AllSection:AllSection,
                  Announcement : Announcement,
                  CreatedBy  : loggedinUser

               }
                

                // DO POST
               $.ajax({
                  type: "post",
                  contentType: "application/json",
                  url: "/Announcement/API/CreateAnnouncement",
                  data: JSON.stringify(formData),
                  dataType: 'json',
                  success: function (result) {
                    //alert("successfully Announcement saved");
                    var notify = new PNotify({title:"Attention",type:"info",text:" Announcement successfully saved.",nonblock:{nonblock:!0},addclass:"dark",styling:"bootstrap3",before_close:function(a){return a.update({title:a.options.title+" - Enjoy your Stay"})}});
                           $(".ui-pnotify-container").click(function() {
                              notify.remove();
                           }); 
                    window.location.replace("/Announcement");
                      
                  },
                  error: function (e) {
                     alert("Error!")
                     //console.log("ERROR: ", e);
                  }
               });

             }
          }
 
          // Your Step validation logic
          function validateSteps(stepnumber) {
             var isStepValid = true;
             // validate step 1
             if (stepnumber == 1) {
                // Your step validation logic
               // alert("asdsa");
                // set isStepValid = false if has errors
                var NotificationType = $("#NotificationType option:selected").html();
                var class_name = $("#SchoolClass option:selected").html();
                var section = $("#schoolsection option:selected").html();
                var classid = $("#schoolsection option:selected").val();
                var  student = $("#studentSelect option:selected").html();

                //console.log(classid);
            if(NotificationType == "Choose option"){
              isStepValid = false 
              $("#NotificationType").addClass("parsley-error");
              isStepValid = false
                  
              } else if(NotificationType == "All Student") {
                 isStepValid = true 
                 return isStepValid
              }else if (NotificationType == "Student Class Wise"){
                 if (class_name == "Choose option" ){
            
                  $("#SchoolClass").addClass("parsley-error");
                  isStepValid = false 
                 return isStepValid
                 } else {
                  isStepValid = true 
                 return isStepValid

                 }

              }else if (NotificationType == "Student Section Wise" ){
                if (class_name == "Choose option"   ){
                  isStepValid = false
                  $("#SchoolClass").addClass("parsley-error");
                 
                 } 
                  if (section == "Choose option") {
                  $("#schoolsection").addClass("parsley-error"); 
        
                 }
                 if (section == "Choose option" && class_name == "Choose option" )  {
                  isStepValid = false
                  
                  $("#SchoolClass").addClass("parsley-error");
                  $("#schoolsection").addClass("parsley-error"); 
                 return isStepValid
                 } else {

                  isStepValid = true
                  
                            return isStepValid
                 }
            
              }else if (NotificationType == "Individual Student"){
                if (class_name == "Choose option"  ){
                  $("#SchoolClass").addClass("parsley-error");
                  isStepValid = false 
                 
                 }
                 if (section == "Choose option"  ){
                     $("#schoolsection").addClass("parsley-error");
                      isStepValid = false 
         
                 }  
                 if (student == "Choose option" ){
                   $("#studentSelect").addClass("parsley-error");
                  isStepValid = false 
                 } 

                 if (class_name == "Choose option" && section == "Choose option" && student == "Choose option" ){
                  $("#NotificationType").addClass("parsley-error");
                  $("#SchoolClass").addClass("parsley-error");
                  $("#schoolsection").addClass("parsley-error");
                  $("#studentSelect").addClass("parsley-error");
                  isStepValid = false 
                 return isStepValid
                 } else {
                  isStepValid = true 
                 return isStepValid

                 }
              }
              
             } else if (stepnumber == 2) {
 
                //alert("a1322");
                var Announcement =  $("#AnnouncementId").val();
                if (Announcement == ""){
                  isStepValid = false
                  $("#AnnouncementId").addClass("parsley-error");
                return isStepValid
                } else {
                  isStepValid = true
                  $("#PreviewId").val(Announcement);
                return isStepValid
                }

                
           
              
             } else if (stepnumber == 3) {
                isStepValid = true
                return isStepValid
             }
 
             // ...      
          }
 
 
          setTimeout(function () {
             //do something special
             //$('#datatable-responsive').DataTable().refresh();
            // table.reload();
             //$('#datatable-buttons').DataTable().refresh();
          }, 5);
 
 
 
          function validateAllSteps() {
             var isStepValid = true;
             // all step validation logic     
             return isStepValid;
          }
       });
    </script>

  </head>
  

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
       
	   <% include ../views/partials/header.ejs%>
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="row top_tiles">
             </div>

             <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Announcement<small></small></h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <!-- Smart Wizard -->
                    <p>Announcement Screen to send Notification to Students </p>
                    <div id="wizard" class="form_wizard wizard_horizontal">
                      <ul class="wizard_steps">
                        <li>
                          <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                              Announcement Type<br />
                                              <small>select Announcement Type </small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              Announcement <br />
                                              <small>Create Announcement</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                              Preview Announcement<br />
                                              <small>Preview Announcement</small>
                                          </span>
                          </a>
                        </li>
                      
                      </ul>
                      <div id="step-1">
                        <form class="form-horizontal form-label-left">
						 
                          <div class="form-group" id="AllNotification">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Announcement Type <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               <select id="NotificationType" class="form-control">
                            <option>Choose option</option>
                            <!-- <option>For All</option> -->
                            <option>All Student</option>
                            <option>Student Class Wise</option>
                            <option>Student Section Wise</option>
                            <option>Individual Student</option>
                           <!--  <option>All Teachers</option>
                            <option>Individual Teachers</option>
                            --> 
							</select>
                            </div>
                          </div>
                      <div class="form-group" id="classWise" >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Class Name<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               <select id="SchoolClass" class="form-control">
                            <option  >Choose option</option>
                            
                           </select>
                            </div>
                          </div>
						          <div class="form-group" id="SectionWise">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Section <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               <select id="schoolsection" class="form-control">
                            <option>Choose option</option>
                            
                           
						              </select>
                            </div>
                          </div>
					            	  <div class="form-group" id="StudentWise">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Student Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <select id="studentSelect" class="form-control">
                           <option>Choose option</option>
                           
                          
                         </select>
                           </div>
                        <!--   </div>
						             <div class="form-group" id="TeacherWise">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Teachers <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               <select class="form-control">
                            <option>Choose option</option>
                            <option>Teacher A</option>
                            <option>Teacher B</option>
                            <option>Teacher C</option>
                            <option>Teacher D</option>
                            <option>Teacher E</option>
                           
						   </select>
                            </div> -->
                          </div>
                         
                        </form>

                      </div>
                      <div id="step-2">
                        <h2 class="StepTitle">Enter Announcement Content</h2>
                    <textarea class="form-control" id = "AnnouncementId" rows="3" placeholder="Enter Announcement" style="margin: 0px 35.625px 0px 0px; width: 59pc; height: 186px;"></textarea>
                      </div>
                      <div id="step-3">
                        <h2 class="StepTitle">Preview Announcement</h2>
                        <textarea  disabled class="form-control" id="PreviewId" rows="3" placeholder="Preview Announcement" style="margin: 0px 35.625px 0px 0px; width: 59pc; height: 186px;"></textarea>
                      </div>

				
                   
                    </div>

                    <!-- End SmartWizard Content -->


				</div>
                </div>
              </div>
       


          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
 
     <!-- PNotify -->
     <script src="../pnotify/dist/pnotify.js"></script>
     <script src="../pnotify/dist/pnotify.buttons.js"></script>
     <script src="../pnotify/dist/pnotify.nonblock.js"></script>
     
      <!-- Bootstrap -->
      <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- FastClick -->
      <script src="../fastclick/lib/fastclick.js"></script>
      <!-- jQuery Sparklines -->
      <script src="../jquery-sparkline/dist/jquery.sparkline.min.js"></script>
      <!-- DateJS -->
      <script src="../DateJS/date.js"></script>
      <!-- bootstrap-daterangepicker -->
      <script src="../moment/min/moment.min.js"></script>
      <script src="../bootstrap-daterangepicker/daterangepicker.js"></script>
      <!-- Custom Theme Scripts -->
 
      <!-- Custom Theme Scripts -->
      <script src="../js/custom.min.js"></script>

  
  
    </body>
  
</html>