<!DOCTYPE html>
<html lang="en">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <!-- Meta, title, CSS, favicons, etc. -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Attendence Form</title>
   <!-- Bootstrap -->
   <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
   <!-- Font Awesome -->
   <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">
   <!-- NProgress -->
   <link href="../nprogress/nprogress.css" rel="stylesheet">
   <!-- bootstrap-daterangepicker -->
   <link href="../bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
   <!-- Custom Theme Style -->
   <link href="../css/custom.min.css" rel="stylesheet">
   <!-- Datatables -->
   <link href="../datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
   <link href="../datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
   <link href="../datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
   <link href="../datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
   <link href="../datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet"
      href="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" />
   <link rel="stylesheet" href="http://cdn.datatables.net/responsive/1.0.2/css/dataTables.responsive.css" />
   <!-- jQuery -->


      <!-- Datatables -->
      <script src="../jquery/dist/jquery.min.js"></script>
      <script src="../datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="../datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
      <script src="../datatables.net-buttons/js/dataTables.buttons.min.js"></script>
      <script src="../datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
      <script src="../datatables.net-buttons/js/buttons.flash.min.js"></script>
      <script src="../datatables.net-buttons/js/buttons.html5.min.js"></script>
      <script src="../datatables.net-buttons/js/buttons.print.min.js"></script>
      <script src="../datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
      <script src="../datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
      <script src="../datatables.net-responsive/js/dataTables.responsive.min.js"></script>
      <script src="../datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
      <script src="../datatables.net-scroller/js/dataTables.scroller.min.js"></script>
      <script src="../jszip/dist/jszip.min.js"></script>
      <script src="../pdfmake/build/pdfmake.min.js"></script>
      <script src="../pdfmake/build/vfs_fonts.js"></script>
            <!-- PNotify -->
            <link href="../pnotify/dist/pnotify.css" rel="stylesheet">
            <link href="../pnotify/dist/pnotify.buttons.css" rel="stylesheet">
            <link href="../pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
          
      <script type="text/javascript">
         $(document).ready(function () {
   
            var selectValues = <%- JSON.stringify(classsec) %>;

//console.log(selectValues.length)
var classnames = [];
for (i = 0; i < selectValues.length; i++) {
   if (classnames.includes(selectValues[i].class_Name)) {
      //	console.log()
   } else {
      $('#SchoolClass').append($("<option></option>")
         .attr("value", selectValues[i]._id)
         .text(selectValues[i].class_Name));
      classnames.push(selectValues[i].class_Name);
   }
}

$('#SchoolClass').on('change', function () {
   $("#SchoolClass").removeClass("parsley-error");
   $('#schoolsection').empty();
   var selectValues = <%- JSON.stringify(classsec) %>;
   var selectedval = $("#SchoolClass option:selected").html();
   for (i = 0; i < selectValues.length; i++) {
      var dataclass = selectValues[i].class_Name
      if (selectedval == dataclass) {
         //console.log("Not doufnd"+dataclass);
         $('#schoolsection').append($("<option></option>")
            .attr("value", selectValues[i]._id)
            .text(selectValues[i].class_section));
      }
   }
});
            var table = $('#datatable-responsive').DataTable();
            var column = table.column(0);
                   // Toggle the visibility
                  column.visible( ! column.visible() );
   
            // ajax post to get all student data 
            function ajaxLoginPost(classid) {
   
   
               // PREPARE FORM DATA
               var formData = {
                  class_id: classid
               }
               // DO POST
               $.ajax({
                  type: "post",
                  contentType: "application/json",
                  url: "/student/API/GetStudentDetails",
                  data: JSON.stringify(formData),
                  dataType: 'json',
                  success: function (student_data) {
                    
                    // console.log(JSON.stringify(student_data));
                     //window.location.replace("/admin");
                     for (var i = 0; i < student_data.length; i++) {
                        table.row.add([
                           student_data[i]._id,
                           student_data[i].roll_No,
                           student_data[i].first_name,
                           student_data[i].middle_name,
                           student_data[i].last_name,
                           "<select class='form-control' id='status-" + i + "-id' ><option value='Present' selected='selected'>Present</option><option value='Absent'>Absent</option></select>",
                           "<select class='form-control' id='absent_reason-" + i + "-id' > <option>Choose option</option><option>Planned vacation</option><option>Occasional </option><option>Sick</option><option>Emergency</option><option>Others</option></select>",
                           "<input type='text' id='remarks-" + i + "-id' class='form-control' placeholder='remkars' required='' />"
                        ]).draw(false);
   
                     }
                     //table.rows().invalidate().draw();
                     
                    // table.ajax.reload();
                  },
                  error: function (e) {
                     alert("Error!")
                     //console.log("ERROR: ", e);
                  }
               });
   
            }
   
            // Smart Wizard        
   
   
            $('#wizard').smartWizard({
               onLeaveStep: leaveAStepCallback,
               onFinish: onFinishCallback
            });
   
            function leaveAStepCallback(obj, context) {
               // alert("Leaving step " + context.fromStep + " to go to step " + context.toStep);
               return validateSteps(context.fromStep); // return false to stay on step and true to continue navigation 
            }
   
            function onFinishCallback(objs, context) {
               if (validateAllSteps()) {
                  //$('form').submit();
                 
                  var table = $('#datatable-buttons').DataTable();
                  
                  var data = table.rows().data();
                  //var 
                  
                  //console.log(data);
                  var classid = $("#schoolsection option:selected").val();
                  var loggedinUser  = $("#LoggedUserId").text();
              //    console.log("dskjnsdfkjn",loggedinUser);
                  // PREPARE FORM DATA
               var   jsonObj = {
                  item : []
               };
                  for (i = 0; i < data.length; i++) {
                     
                     jsonObj.item.push({ 
                        "students" : data[i][0],
                     "attendance_date": data[i][5],
                     "status": data[i][6],
                     "reason": data[i][7],
                     "remarks": data[i][8],
                     "Class_id": classid,
                     "created_by": loggedinUser,
                     "creation_date": data[i][5],  
                     "updated_by": loggedinUser,
                     "updation_date":  data[i][5] 
                     });
                  }
   
                  var formData = {
                     attendence_data: jsonObj
                  }

                  // DO POST
                  $.ajax({
                     type: "post",
                     contentType: "application/json",
                     url: "/attendence/API/Attendence_Submit",
                     data: JSON.stringify(jsonObj),
                     dataType: 'json',
                     success: function (student_data) {
   
                        //alert(JSON.stringify(student_data));
                        var notify = new PNotify({title:"Success",type:"info",text:"Attendance Record Saved Successfully .",nonblock:{nonblock:!0},addclass:"dark",styling:"bootstrap3",before_close:function(a){return a.update({title:a.options.title+" - Enjoy your Stay"})}});
                           $(".ui-pnotify-container").click(function() {
                              notify.remove();
                           }); 
                     window.location.replace("/attendence");
                     },
                     error: function (e) {
                        alert("Error!")
                        //console.log("ERROR: ", e);
                     }
                  });
   
   
   
               }
            }
   
            // Your Step validation logic
            function validateSteps(stepnumber) {
               var isStepValid = true;
               // validate step 1
               if (stepnumber == 1) {
                  // Your step validation logic
                  //alert("asdsa");
                  // set isStepValid = false if has errors
                  var class_name = $("#SchoolClass option:selected").html();
                  var section = $("#schoolsection option:selected").html();
                  var classid = $("#schoolsection option:selected").val();
                  //console.log(classid);
   
                  if (class_name == 'Choose option' || section == "Choose option") {
                     isStepValid = false
                     $("#SchoolClass").addClass("parsley-error");
                     isStepValid = false
   
                  }else {
                     isStepValid = true
                     var classid = $("#schoolsection option:selected").val();
                     var today = new Date();
                     var dd = today.getDate();
                     var mm = today.getMonth() + 1; //January is 0!
                     var yyyy = today.getFullYear();
                     if (dd < 10) {
                        dd = '0' + dd;
                     } 
                     if (mm < 10) {
                        mm = '0' + mm;
                     } 
                     var todayDay = yyyy+ '-' + mm + '-' +dd ;
                      
                     var formData = {
                     attendence_date : todayDay ,
                     Class_id :  classid
                  }
                     $.ajax({
                     type: "post",
                     contentType: "application/json",
                     url: "/attendence/API/CheckAttendence",
                     data: JSON.stringify(formData),
                     dataType: 'json',
                     success: function (data) {
                    //  alert(JSON.stringify(data.attendancecount));
                        if (JSON.stringify(data.attendancecount) == 0){
                        //student_head
                        $("#student_head").html("Student Details of " + class_name + " and " + section + "  .")
                        table.rows().clear()
                        ajaxLoginPost(classid)
                        isStepValid = true
                     } else {
                           ///alert("already attendance has beeed done ")
                           var notify = new PNotify({title:"Attention",type:"info",text:"Attendance Already Taken for Today.",nonblock:{nonblock:!0},addclass:"dark",styling:"bootstrap3",before_close:function(a){return a.update({title:a.options.title+" - Enjoy your Stay"})}});
                           $(".ui-pnotify-container").click(function() {
                              notify.remove();
                           }); 
                           table.rows().clear()
                           isStepValid = false 
                        }
                     },
                     error: function (e) {
                        alert("Error!")
                        //console.log("ERROR: ", e);
                     }
                      
                     
                  });
               //   console.log(isStepValid)
                  return isStepValid
                  }
                
               } else if (stepnumber == 2) {
   
                  //alert("a1322");
                  
                  var data = table.rows().data();
                 
                  //console.log(data);
                  $('#datatable-buttons').DataTable().clear();
                  var Report_Attendence = $('#datatable-buttons').DataTable();
   
                  for (var i = 0; i < data.length; i++) {
                     //console.log(data[i][0]+"--"+data[i][1]+"--"+data[i][2]+"--"+data[i][3]+"--"+data[i][4]+"--"+$( "#status-"+i+"-id" ).val()+"--"+$( "#absent_reason-"+i+"-id" ).val()+"--"+$( "#remarks-"+i+"-id" ).val());
                     var status = $("#status-" + i + "-id").val();
                     var absent_Reason = $("#absent_reason-" + i + "-id").val();
                     var remarks = $("#remarks-" + i + "-id").val();
                         remarks = (remarks == "") ? "N/A" : remarks;
                         absent_Reason = (absent_Reason == "Choose option") ? "N/A" : absent_Reason;
                  //  var curr_date = new Date();
                    

                     var today = new Date();
                     var dd = today.getDate();
                     var mm = today.getMonth() + 1; //January is 0!
                     var yyyy = today.getFullYear();
                     if (dd < 10) {
                        dd = '0' + dd;
                     } 
                     if (mm < 10) {
                        mm = '0' + mm;
                     } 
                     var curr_date = yyyy+ '-' + mm + '-' +dd ;
                   
                     var rowNode = Report_Attendence.row.add([
                        data[i][0],
                        data[i][1],
                        data[i][2],
                        data[i][3],
                        data[i][4],
                        curr_date,
                        status,
                        absent_Reason,
                        remarks
                     ]).draw().node();
                     $(rowNode).attr('id', 'row_' + i)
   
                  }
                  
                  var AttendenceTab = Report_Attendence.column(0);
                   // Toggle the visibility
                  AttendenceTab.visible( false);
                  isStepValid = true
                  return isStepValid
               } else if (stepnumber == 3) {
                  isStepValid = true
                  return isStepValid
               }
   
               // ...      
            }
   
   
            setTimeout(function () {
               //do something special
               //$('#datatable-responsive').DataTable().refresh();
              // table.reload();
               //$('#datatable-buttons').DataTable().refresh();
            }, 5);
   
   
   
            function validateAllSteps() {
               var isStepValid = true;
               // all step validation logic     
               return isStepValid;
            }
         });
      </script>
</head>

<body class="nav-md">
   <div class="container body">
      <div class="main_container">
         <div class="col-md-3 left_col">
            <!-- views/partials/head.ejs -->
            <% include ../views/partials/header.ejs%>
            <!-- page content -->
            <div class="right_col" role="main">
               <div class="">
                  <div class="row top_tiles">
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_panel">
                        <div class="x_title">
                           <h2>Student Attendence</h2>
                           <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                           <!-- Smart Wizard -->
                           <div id="wizard" class="form_wizard wizard_horizontal">
                              <ul class="wizard_steps">
                                 <li>
                                    <a href="#step-1">
                                       <span class="step_no">1</span>
                                       <span class="step_descr">
                                          Class & Setion<br />
                                          <small>selcet class & section </small>
                                       </span>
                                    </a>
                                 </li>
                                 <li>
                                    <a id="DisplayStudents" href="#step-2">
                                       <span class="step_no">2</span>
                                       <span class="step_descr">
                                          Attendence <br />
                                          <small>Review</small>
                                       </span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#step-3">
                                       <span class="step_no">3</span>
                                       <span class="step_descr">
                                          Preview Attendence<br />
                                          <small>Preview</small>
                                       </span>
                                    </a>
                                 </li>
                              </ul>
                              <div id="step-1">
                                 <form class="form-horizontal form-label-left">
                                    <div class="form-group">
                                       <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Class
                                          <span class="required">*</span>
                                       </label>
                                       <div class="col-md-6 col-sm-6 col-xs-12">
                                          <select class="form-control" id="SchoolClass" required>
                                             <option>Choose option</option>
                                          </select>
                                       </div>
                                    </div>
                                    <div class="form-group">
                                       <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Section
                                          <span class="required">*</span>
                                       </label>
                                       <div class="col-md-6 col-sm-6 col-xs-12">
                                          <select class="form-control" id="schoolsection">
                                             <option>Choose option</option>
                                          </select>
                                       </div>
                                    </div>
                                 </form>
                              </div>
                              <div id="step-2">
                                 <h2 class="StepTitle" id="student_head">Student Details</h2>
                                 
                                    <table id="datatable-responsive"
                                       class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
                                       width="99%">
                                       <thead>
                                          <tr>
                                             <th>Student Id</th>
                                             <th>Roll Number</th>
                                             <th>First name</th>
                                             <th>Middle name</th>
                                             <th>Last name</th>
                                             <th>Status</th>
                                             <th>Reason</th>
                                             <th>Remarks</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr>
                                             <td>Student Id</td>
                                             <td>Roll Number</td>
                                             <td>First name</td>
                                             <td>Middle name</td>
                                             <td>Last name</td>
                                             <td>Status</td>
                                             <td>Reason</td>
                                             <td>Remarks</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>


                              
                              <div id="step-3">
                                 <h2 class="StepTitle">Preiew Attendence</h2>
                                 <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                       <div class="x_content">
                                          <p class="text-muted font-13 m-b-30">
                                            
                                          </p>
                                          <table id="datatable-buttons" class="table table-striped table-bordered">
                                             <thead>
                                                <tr>
                                                   <th>Student Id</th>
                                                   <th>Roll Number</th>
                                                   <th>First name</th>
                                                   <th>Middle name</th>
                                                   <th>Last name</th>
                                                   <td>Date</td>
                                                   <th>Status</th>
                                                   <th>Reason</th>
                                                   <th>Remarks</th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- End SmartWizard Content -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
               <div class="pull-right">
                  Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
               </div>
               <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
         </div>
      </div>
      
      <!-- Bootstrap -->
      <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- PNotify -->
        <script src="../pnotify/dist/pnotify.js"></script>
        <script src="../pnotify/dist/pnotify.buttons.js"></script>
        <script src="../pnotify/dist/pnotify.nonblock.js"></script>
          
      <!-- FastClick -->
      <script src="../fastclick/lib/fastclick.js"></script>
      <!-- jQuery Sparklines -->
      <script src="../jquery-sparkline/dist/jquery.sparkline.min.js"></script>
      <!-- DateJS -->
      <script src="../DateJS/date.js"></script>
      <!-- bootstrap-daterangepicker -->
      <script src="../moment/min/moment.min.js"></script>
      <script src="../bootstrap-daterangepicker/daterangepicker.js"></script>
      <!-- Custom Theme Scripts -->
      <!-- jQuery Smart Wizard -->
      <script src="../jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
      <!-- Custom Theme Scripts -->
      <script src="../js/custom.min.js"></script>

      
</body>



</html>