<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title> Homework Screen </title>
       <!-- Bootstrap -->
   <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
   <!-- Font Awesome -->
   <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">
   <!-- NProgress -->
   <link href="../nprogress/nprogress.css" rel="stylesheet">
   <!-- bootstrap-daterangepicker -->
   <link href="../bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
 <!-- iCheck -->
 <link href="../iCheck/skins/flat/green.css" rel="stylesheet">
   <!-- Switchery -->
   <link href="../vendors/switchery/dist/switchery.min.css" rel="stylesheet">
         <!-- PNotify -->
         <link href="../pnotify/dist/pnotify.css" rel="stylesheet">
         <link href="../pnotify/dist/pnotify.buttons.css" rel="stylesheet">
         <link href="../pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
        
   <!-- Custom Theme Style -->

   <link href="../css/custom.min.css" rel="stylesheet">
   <!-- Datatables -->
   <link href="../datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
   <link href="../datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
   <link href="../datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
   <link href="../datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
   <link href="../datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet"
      href="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" />
   <link rel="stylesheet" href="http://cdn.datatables.net/responsive/1.0.2/css/dataTables.responsive.css" />
   <!-- jQuery -->

      <!-- Datatables -->
      <script src="../jquery/dist/jquery.min.js"></script>
      <script src="../datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="../datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
      <script src="../datatables.net-buttons/js/dataTables.buttons.min.js"></script>
      <script src="../datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
      <script src="../datatables.net-buttons/js/buttons.flash.min.js"></script>
      <script src="../datatables.net-buttons/js/buttons.html5.min.js"></script>
      <script src="../datatables.net-buttons/js/buttons.print.min.js"></script>
      <script src="../datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
      <script src="../datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
      <script src="../datatables.net-responsive/js/dataTables.responsive.min.js"></script>
      <script src="../datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
      <script src="../datatables.net-scroller/js/dataTables.scroller.min.js"></script>
      <script src="../jszip/dist/jszip.min.js"></script>
      <script src="../pdfmake/build/pdfmake.min.js"></script>
      <script src="../pdfmake/build/vfs_fonts.js"></script>
      
     
     <script  type="text/javascript" >
          
      $(document).ready(function(){

         $("input[name='gender']:checked"). val();

         $("input[name='gender']:checked").change(function() {
        if($(this).is(":checked")) {
           alert("checked")
        }
        //$('#textbox1').val($(this).is(':checked'));        
    });



                
          $('#Submmit').on('click', function() {
                    // ajax for calander update  
      
              var loggedinUser  = $("#LoggedUserId").text();
                  var todayDay = $("#single_cal2").val();
                  
                  var classid  = $("#SchoolClass option:selected").text();
                  var section = $("#schoolsection option:selected").val();
                  var homeworkType =   $("input[name='gender']:checked"). val();
                  var comment =   $('#homeworkcomment').val();
                  var AllSection = $.map($('#schoolsection option'), function(e) { return e.value; });
     
                 console.log(classid,section,todayDay,homeworkType,comment)

              if(homeworkType == ""  || classid == "Choose option" || comment == ""){

               //alert("Please enter All Details")
               var notify = new PNotify({title:"Attention",type:"info",text:"Kindly Fill Required Details.",nonblock:{nonblock:!0},addclass:"dark",styling:"bootstrap3",before_close:function(a){return a.update({title:a.options.title+" - Enjoy your Stay"})}});
                           $(".ui-pnotify-container").click(function() {
                              notify.remove();
                           }); 
              } else {

            

            var formData = {
                  homework_date : todayDay ,
                  Class_id :  classid,
                  section_id : section,
                  homeworkType : homeworkType,
                  AllSection : AllSection,
                  comment : comment,
                  loggedinUser:loggedinUser
         }
                  // DO POST
                  $.ajax({
                     type: "post",
                     contentType: "application/json",
                     url: "/homework/API/Create_Homework",
                     data: JSON.stringify(formData),
                     dataType: 'json',
                     success: function (result_Data) {
                        
                      //alert("Successfully saed Homework");
                      var notify = new PNotify({title:"Attention",type:"info",text:"Homewok Successfully Saved .",nonblock:{nonblock:!0},addclass:"dark",styling:"bootstrap3",before_close:function(a){return a.update({title:a.options.title+" - Enjoy your Stay"})}});
                           $(".ui-pnotify-container").click(function() {
                              notify.remove();
                           }); 
                    
                     window.location.replace("/homework");
                     },
                     error: function (e) {
                        alert("Error!")
                        //console.log("ERROR: ", e);
                     }
                  });
     
               }
               });
   });
     </script>
   </head>
   <body class="nav-md">
      <div class="container body">
         <div class="main_container">
            <div class="col-md-3 left_col">
         <!-- views/partials/head.ejs -->  
		         <% include ../views/partials/header.ejs%>
			<!-- page content -->
            <div class="right_col" role="main">
               <div class="">
                  <div class="row top_tiles">
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_panel">
                       <div class="x_title">
                         <h2>Assign Homework</h2>
                         <ul class="nav navbar-right panel_toolbox">
                           <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                           </li>
                          
                           <li><a class="close-link"><i class="fa fa-close"></i></a>
                           </li>
                         </ul>
                         <div class="clearfix"></div>
                       </div>
                       <div class="x_content">
                         <p class="text-muted font-13 m-b-30">
                           Kindly fill all details . 
                         </p>
                        
                         
                         <div  id="Date" class="col-md-12 col-sm-12 col-xs-12">  
                           <div class="col-md-4 col-sm-4 col-xs-4">
                                
                                <label class="control-label col-md-6 col-sm-6 col-xs-6">Homework Type</label>
                          </div>
                             <div class="col-md-8 col-sm-8 col-xs-8">
                                
                                   <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                 
                                       Class Wise:
                                       <input type="radio" class="flat" name="gender" id="class" value="Class" required />&nbsp;&nbsp;&nbsp; Section Wise:
                                       
                                       <input type="radio" class="flat" name="gender" id="sectionid" value="Section" />
                                 </div> 
                             </div>
                         
                          </div>
                    
                         <div  id="Date" class="col-md-12 col-sm-12 col-xs-12">  
                         <div class="col-md-4 col-sm-4 col-xs-4">
                              
                              <label class="control-label col-md-6 col-sm-6 col-xs-6">Select Date</label>
                        </div>
                           <div class="col-md-8 col-sm-8 col-xs-8">
                              
                                 <div class="col-md-6 xdisplay_inputx form-group has-feedback">
                                       <input type="text" class="form-control has-feedback-left" id="single_cal2" placeholder="current Dates" aria-describedby="inputSuccess2Status2">
                                       <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                       <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                               </div> 
                           </div>
                       
                        </div>
                         
                         <div id="TodayDay" class="col-md-12 col-sm-12 col-xs-12">
                           <div class="col-md-4 col-sm-4 col-xs-4 ">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Class
                                 <span class="required">*</span>
                              </label>
                              </div>
                              <div class="class=col-md-6 col-sm-4 col-xs-6  xdisplay_inputx form-group has-feedback">
                                 <select class="form-control" id="SchoolClass" required>
                                    <option>Choose option</option>
                                 </select>
                              </div>
                              </div>
                              <div id="SelectType" class="col-md-12 col-sm-12 col-xs-12">
                           <div class="col-md-4 col-sm-4 col-xs-4 form-group has-feedback">
                              
                              <label class="control-label col-md-4 col-sm-4 col-xs-12" for="last-name">Section
                                 <span class="required">*</span>
                              </label>
                            </div>
                              
                              <div class="class=col-md-8 col-sm-4 col-xs-8 form-group has-feedback">
                                 <select class="form-control" id="schoolsection">
                                    <option>Choose option</option>
                                 </select>
                              </div>
                           </div>
                              
                           <div  id="Date" class="col-md-12 col-sm-12 col-xs-12">  
                              <div class="col-md-4 col-sm-2 col-xs-4">
                                   
                                   <label class="control-label col-md-6 col-sm-6 col-xs-6">Write homework</label>
                             </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                   
                                      
                                       <textarea class="form-control" id="homeworkcomment" rows="3" placeholder="Enter homework"></textarea>
                                    
                                </div>
                            
                             </div>
                                 <div id="Submit" class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3">
                                       <button type="submit" id="Submmit" class="btn btn-success">Submit</button>
                                 </div>
                                 
                              
                                


                      </div>
                     </div>
                   </div>
               </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
               <div class="pull-right">
                  Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
               </div>
               <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
         </div>
      </div>
   </div>
  <!-- Bootstrap -->
  <!-- Select2 -->
  <script src="../select2/dist/js/select2.full.min.js"></script>
      <!-- PNotify -->
      <script src="../pnotify/dist/pnotify.js"></script>
      <script src="../pnotify/dist/pnotify.buttons.js"></script>
      <script src="../pnotify/dist/pnotify.nonblock.js"></script>
      


      <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- FastClick -->
      <script src="../fastclick/lib/fastclick.js"></script>
      <!-- jQuery Sparklines -->
      <script src="../jquery-sparkline/dist/jquery.sparkline.min.js"></script>
      <!-- DateJS -->
      <script src="../DateJS/date.js"></script>
      <!-- bootstrap-daterangepicker -->
      <script src="../moment/min/moment.min.js"></script>
      <script src="../bootstrap-daterangepicker/daterangepicker.js"></script>
      <!-- Custom Theme Scripts -->
      <!-- jQuery Smart Wizard -->
      <script src="../jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
      <!-- Custom Theme Scripts -->
      <script src="../js/custom.min.js"></script>
       <!-- bootstrap-datetimepicker -->    
      <!-- iCheck -->
      <script src="../iCheck/icheck.min.js"></script>   
   
   </body>
   <script type="text/javascript">

      $(document).ready(function(){
        

         $('#single_cal2').daterangepicker({
            minDate: moment() ,
            singleDatePicker: true,
           singleClasses: "picker_2",
           startDate: new Date(), 
           locale: {
                  format: 'YYYY-MM-DD'
            }
            
         }, function(start, end, label) {
            
           console.log(start.format('YYYY-MM-DD'),end.format('YYYY-MM-DD'), label);

            //$("#single_cal2").datepicker( "option", "minDate", end.format('YYYY-MM-DD') );

           
           $("#SelectType").show(500);
           $("#TodayDay").show(1000);
           $("#comments").show(1500);
           $("#Submit").show(2000);
           
           
        
            
         });
  
      	      		
    
      var selectValues = <%- JSON.stringify(classsec) %>;
      var classnames = [];
      for (i = 0; i < selectValues.length; i++) {
      if (classnames.includes(selectValues[i].class_Name)) {
      //	console.log()
      } else {
         $('#SchoolClass').append($("<option></option>")
            .attr("value", selectValues[i]._id)
            .text(selectValues[i].class_Name));
            classnames.push(selectValues[i].class_Name);
         }
      }

         $('#SchoolClass').on('change', function () {
         $("#SchoolClass").removeClass("parsley-error");
         $('#schoolsection').empty();
         var selectValues = <%- JSON.stringify(classsec) %>;
         var selectedval = $("#SchoolClass option:selected").html();
         for (i = 0; i < selectValues.length; i++) {
            var dataclass = selectValues[i].class_Name
            if (selectedval == dataclass) {
               //console.log("Not doufnd"+dataclass);
               $('#schoolsection').append($("<option></option>")
                  .attr("value", selectValues[i]._id)
                  .text(selectValues[i].class_section));
            }
      }
   });


});
      	
       
       
   </script>
</html>