<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Edit Announcement Screen</title>

    <!-- Bootstrap -->
    <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="../bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../css/custom.min.css" rel="stylesheet">
	    <!-- Datatables -->
    <link href="../datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

  </head>
  

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
       
	   <% include ../views/partials/header.ejs%>
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="row top_tiles">
             </div>

             <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Update Announcement<small></small></h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
      
                    <table id="datatable-buttons" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Announcement Type</th>
                          <th>Announcement Date</th>
                          <th>Content</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>All Student</td>
                          <td>15-05-2019</td>
                          <td>xysdsjhdb</td>
                          <td><button type="button" class="btn btn-primary">Edit</button></td>
                        </tr>
    
                      </tbody>
                    </table>
               
            
				</div>
                </div>
              </div>
       



          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="../Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="../jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- Flot -->
    <script src="../Flot/jquery.flot.js"></script>
    <script src="../Flot/jquery.flot.pie.js"></script>
    <script src="../Flot/jquery.flot.time.js"></script>
    <script src="../Flot/jquery.flot.stack.js"></script>
    <script src="../Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="../DateJS/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../moment/min/moment.min.js"></script>
    
	<script src="../bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <!-- jQuery Smart Wizard -->
    <script src="../jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../js/custom.min.js"></script>
 <!-- Datatables -->
    <script src="../datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="../jszip/dist/jszip.min.js"></script>
    <script src="../pdfmake/build/pdfmake.min.js"></script>
    <script src="../pdfmake/build/vfs_fonts.js"></script>  
  </body>
  
   <script type="text/javascript">
      $(document).ready(function(){



        var selectValues = <%- JSON.stringify(classsec) %>;
      		//console.log(selectValues.length)
      		var classnames = [];
      		for (i = 0; i < selectValues.length; i++) { 
      			if (classnames.includes(selectValues[i].class_Name)){
      			//	console.log()
      				} else {
      				$('#SchoolClass').append($("<option></option>")
                          .attr("value",selectValues[i].class_id)
                          .text(selectValues[i].class_Name)); 
      					classnames.push(selectValues[i].class_Name);
      			}
      		}
      		
      $('#SchoolClass').on('change', function() {
        $( "#SchoolClass" ).removeClass( "parsley-error" );
        $('#schoolsection').empty();
        var selectValues = <%- JSON.stringify(classsec) %>;
          var selectedval = $("#SchoolClass option:selected").html();
      		for (i = 0; i < selectValues.length; i++) { 
      		var dataclass = selectValues[i].class_Name
      			if (selectedval == dataclass ){
      				//console.log("Not doufnd"+dataclass);
      					$('#schoolsection').append($("<option></option>")
                          .attr("value",selectValues[i].class_id)
                          .text(selectValues[i].class_section)); 
      				} 
      		}
      });

      $("#classWise").hide();
			$("#SectionWise").hide();
			$("#TeacherWise").hide();
			$("#StudentWise").hide();
      $('#NotificationType').on('change', function() {
       		
        //$('#schoolsection').empty();
        
          var NotificationType = $("#NotificationType option:selected").html();
      		if (NotificationType == "For All" || NotificationType == "All Student"||NotificationType == "All Teachers"){
			$("#classWise").hide(500);
			$("#SectionWise").hide(500);
			$("#TeacherWise").hide(500);
			$("#StudentWise").hide(500);
			
			} else if (NotificationType == "Student Class Wise"){
				$("#classWise").show(500);
				$("#SectionWise").hide(500);
				$("#TeacherWise").hide(500);
				$("#StudentWise").hide(500);
			}else if (NotificationType == "Student Section Wise"){
				$("#classWise").show(500);
				$("#SectionWise").show(1000);
				$("#TeacherWise").hide(500);
				$("#StudentWise").hide(500);
			}else if (NotificationType == "Individual Teachers"){
				$("#classWise").hide(500);
				$("#SectionWise").hide(1000);
				$("#TeacherWise").show(500);
				$("#StudentWise").hide(500);
			}else if (NotificationType == "Individual Student"){
				$("#classWise").show(500);
				$("#SectionWise").show(1000);
				$("#TeacherWise").hide(500);
				$("#StudentWise").show(1500);
			}
      });
      
      	
      });
      	
       
       
   </script>
</html>