<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Edit Annual Calander Screen</title>
      <!-- Bootstrap -->
      <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- Font Awesome -->
      <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <!-- NProgress -->
      <link href="../nprogress/nprogress.css" rel="stylesheet">
      <!-- bootstrap-daterangepicker -->
      <link href="../bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
      <!-- bootstrap-datetimepicker -->
    <link href="../vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    
      <!-- Custom Theme Style -->
      <link href="../css/custom.min.css" rel="stylesheet">
   <!-- jQuery -->
	  
      <script src="../jquery/dist/jquery.min.js"></script>
	  
      <script src="../jszip/dist/jszip.min.js"></script>
      <script src="../pdfmake/build/pdfmake.min.js"></script>
      <script src="../pdfmake/build/vfs_fonts.js"></script> 
    
   </head>
   <body class="nav-md">
      <div class="container body">
         <div class="main_container">
            <div class="col-md-3 left_col">
         <!-- views/partials/head.ejs -->  
		         <% include ../views/partials/header.ejs%>
			<!-- page content -->
            <div class="right_col" role="main">
               <div class="">
                  <div class="row top_tiles">
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_panel">
                       <div class="x_title">
                         <h2>Add Events In Annual<small>Calander</small></h2>
                         <ul class="nav navbar-right panel_toolbox">
                           <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                           </li>
                           <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                             <ul class="dropdown-menu" role="menu">
                               <li><a href="#">Settings 1</a>
                               </li>
                               <li><a href="#">Settings 2</a>
                               </li>
                             </ul>
                           </li>
                           <li><a class="close-link"><i class="fa fa-close"></i></a>
                           </li>
                         </ul>
                         <div class="clearfix"></div>
                       </div>
                       <div class="x_content">
                         <p class="text-muted font-13 m-b-30">
                           Kindly fill all details . 
                         </p>

                         <div  id="Date" class="col-md-12 col-sm-12 col-xs-12">  
                         <div class="col-md-4 col-sm-4 col-xs-4">
                              
                              <label class="control-label col-md-6 col-sm-6 col-xs-6">Select Date</label>
                        </div>
                           <div class="col-md-8 col-sm-8 col-xs-8">
                              
                                 <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                       <input type="text" class="form-control has-feedback-left" id="single_cal2" placeholder="First Name" aria-describedby="inputSuccess2Status2">
                                       <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                       <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                     </div> 
                           </div>
                       
                         </div>
                         
                         <div id="TodayDay" class="col-md-12 col-sm-12 col-xs-12">
                              <div class="col-md-4 col-sm-4 col-xs-4 form-group has-feedback">
                              
                                    <label class="control-label col-md-6 col-sm-6 col-xs-6">Todays Day</label>
                              </div>
                                 <div class="col-md-8 col-sm-8 col-xs-8 form-group has-feedback">
                                    
                                       <input type="text" id="Date_Day" class="form-control" readonly="readonly" placeholder="Read-Only Input">
                                 </div>

                              </div>
                         <div id="SelectType" class="col-md-12 col-sm-12 col-xs-12">
                           <div class="col-md-4 col-sm-4 col-xs-4 form-group has-feedback">
                              <label class="control-label col-md-6 col-sm-6 col-xs-6">Select Type </label>
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-8 form-group has-feedback">
                                 
                                    <select class="form-control"id="holidaysection">
                                          <option>Choose option</option>
                                          <option>Open</option>
                                          <option>Closed</option>
                                          <option>Holiday</option>
                                          
                                       </select>  
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 form-group has-feedback">
                           <label class="control-label col-md-6 col-sm-6 col-xs-6">Academic Session </label>
                     </div>
                        <div class="col-md-8 col-sm-6 col-xs-8 form-group has-feedback">
                                 
                           <select class="form-control"id="holidaysection">
                                 <option>Choose option</option>
                                 <option>2019-2020</option>
                                 <option>2020-2021</option>
                              </select>  
               </div>
                        </div>
                        

                              <div id="comments" class="col-md-12 col-sm-12 col-xs-12">
                                 <div class="col-md-4 col-sm-4 col-xs-4 form-group has-feedback">
                              
                                       <label class="control-label col-md-6 col-sm-6 col-xs-6">Comments</label>
                                 </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8 form-group has-feedback">
                                          <textarea id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="5" data-parsley-maxlength="100" data-parsley-minlength-message="You need to enter at least a 5 caracters long comment.." data-parsley-validation-threshold="10"></textarea> 
                                    </div>
                                 </div>




                                 <div id="Submit" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                       <button href="" class="btn btn-primary" type="button">Cancel</button>
                                 <button class="btn btn-primary" type="reset">Reset</button>
                                       <button type="submit" id="Submmit" class="btn btn-success">Submit</button>
                                     </div>
                       </div>
                     </div>
                   </div>
               </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
               <div class="pull-right">
                  Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
               </div>
               <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
         </div>
      </div>
   </div>
      <!-- Bootstrap -->
      <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- FastClick -->
      <script src="../fastclick/lib/fastclick.js"></script>
      <!-- jQuery Sparklines -->
      <script src="../jquery-sparkline/dist/jquery.sparkline.min.js"></script>
      <!-- DateJS -->
      <script src="../DateJS/date.js"></script>
      <!-- bootstrap-daterangepicker -->
      <script src="../moment/min/moment.min.js"></script>
      <script src="../bootstrap-daterangepicker/daterangepicker.js"></script>
      <!-- Custom Theme Scripts -->
      <!-- jQuery Smart Wizard -->
      <script src="../jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
      <!-- Custom Theme Scripts -->
      <script src="../js/custom.min.js"></script>
       <!-- bootstrap-datetimepicker -->    
    <script src="../vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    
   </body>
   <script type="text/javascript">


      $(document).ready(function(){

        /*  $("#comments").hide();
            $("#TodayDay").hide();
            $("#SelectType").hide();
            $("#Submit").hide(); */


         $('#single_cal2').daterangepicker({
			  singleDatePicker: true,
			  singleClasses: "picker_2"
			}, function(start, end, label) {
           console.log(start.toISOString(), end.toISOString(), label);
           var day = end.toISOString();
           var d = new Date(day);
           console.log(d);
            var n = d.getDay();
         //  alert(n);
           $("#Date_Day").val(d);
           $("#SelectType").show(500);
           $("#TodayDay").show(1000);
           $("#comments").show(1500);
           $("#Submit").show(2000);
           
           
        
            
         });
  
      	      		
      $('#Submmit').on('click', function() {
       //alert("Submitted");
        // ajax for calander update  
        var loggedinUser  = $("#LoggedUserId").text();
        
           var todayDay = $("#Date_Day").val();
           var d = new Date(todayDay);
           var comments = $("#message").val();
           var user = loggedinUser;
           var weekday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
            var Day =  weekday[d.getDay()];
            var select = $("#holidaysection option:selected").text();
            var formData = {
            calender_date: d,
            calender_day :  Day,
            select_type : select,
            comments : comments,
            created_by : user,
         }

                  // DO POST
                  $.ajax({
                     type: "post",
                     contentType: "application/json",
                     url: "/AnnualCalander/API/SubmitCalander",
                     data: JSON.stringify(formData),
                     dataType: 'json',
                     success: function (result_Data) {
   
                        alert("Calender Detail Successfully Added ");
                     window.location.replace("/AnnualCalander ");
                     },
                     error: function (e) {
                        alert("Error!")
                        //console.log("ERROR: ", e);
                     }
                  });
   





      });

      });
      	
       
       
   </script>
</html>