<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Upload Gallery Form</title>
      <!-- Bootstrap -->
      <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- Font Awesome -->
      <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <!-- NProgress -->
      <link href="../nprogress/nprogress.css" rel="stylesheet">
      <!-- NProgress -->
      <link href="../nprogress/nprogress.css" rel="stylesheet">
      <!-- Dropzone.js -->
      <link href="../dropzone/dist/min/dropzone.min.css" rel="stylesheet">


    
      <!-- Custom Theme Style -->
      <link href="../css/custom.min.css" rel="stylesheet">
   
   <style>
   .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
   
   </style>


   <!-- jQuery -->
	  
      <script src="../jquery/dist/jquery.min.js"></script>
	  
      <script src="../jszip/dist/jszip.min.js"></script>
      <script src="../pdfmake/build/pdfmake.min.js"></script>
      <script src="../pdfmake/build/vfs_fonts.js"></script> 
    
   </head>
   <body class="nav-md">
      <div class="container body">
         <div class="main_container">
            <div class="col-md-3 left_col">
         <!-- views/partials/head.ejs -->  
		         <% include ../views/partials/header.ejs%>
			<!-- page content -->
            <div class="right_col" role="main">
               <div class="">
                  <div class="row top_tiles">
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_panel">
                       <div class="x_title">
                         <h2>Fee Category<small></small></h2>
                         <ul class="nav navbar-right panel_toolbox">
                           <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                           </li>
                           <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                             <ul class="dropdown-menu" role="menu">
                               <li><a href="#">Settings 1</a>
                               </li>
                               <li><a href="#">Settings 2</a>
                               </li>
                             </ul>
                           </li>
                           <li><a class="close-link"><i class="fa fa-close"></i></a>
                           </li>
                         </ul>
                         <div class="clearfix"></div>
                       </div>
                       <div class="x_content">
     
                         <form class="form-horizontal form-label-left"  action="/Fee/SaveCategory"  method="post" novalidate>
     
                          <!--  <p>For alternative validation library <code>parsleyJS</code> check out in the <a href="form.html">form page</a>
                           </p>
                           -->                           
                           <div class="item form-group">
                             <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Fee Category <span class="required">*</span>
                             </label>
                             <div class="col-md-6 col-sm-6 col-xs-12">
                               <input  id="Category" name="Category" required="required" class="form-control col-md-7 col-xs-12">
                             </div>
                           </div>
                           <div class="item form-group">
                             <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Receipt Prefix <span class="required">*</span>
                             </label>
                             <div class="col-md-6 col-sm-6 col-xs-12">
                               <input  id="Prefix" name="Prefix"  required="required" class="form-control col-md-7 col-xs-12">
                             </div>
                           </div>
                           <div class="item form-group">
                             <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Description <span class="required">*</span>
                             </label>
                             <div class="col-md-6 col-sm-6 col-xs-12">
                               <input type="text" id="Description" name="Description" required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
                             </div>
                           </div>
                         
                           <div class="ln_solid"></div>
                           <div class="form-group">
                             <div class="col-md-6 col-md-offset-3">
                               <button type="submit" class="btn btn-primary">Cancel</button>
                               <button id="send" type="submit" class="btn btn-success">Submit</button>
                             </div>
                           </div>
                         </form>
                       </div>
                     </div>
                   </div>
               
                 </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
               <div class="pull-right">
                  Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
               </div>
               <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
         </div>
      </div>
   </div>
   <script src="../jquery/dist/jquery.min.js"></script>
   <!-- Bootstrap -->
      <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- FastClick -->
      <script src="../fastclick/lib/fastclick.js"></script>
      <!-- jQuery Sparklines -->
      <script src="../jquery-sparkline/dist/jquery.sparkline.min.js"></script>
       <!-- NProgress -->
       <script src="../nprogress/nprogress.js"></script>
       <!-- Dropzone.js -->
       <script src="../dropzone/dist/min/dropzone.min.js"></script>
      <!-- bootstrap-daterangepicker -->
      <script src="../moment/min/moment.min.js"></script>
    <!-- validator -->
    <script src="../validator/validator.js"></script>
      <!-- Custom Theme Scripts -->
      <script src="../js/custom.min.js"></script>
       <!-- bootstrap-datetimepicker -->    
    <script src="../bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    
   </body>
   <script type="text/javascript">


      $(document).ready(function(){


      }); 
   </script>
</html>