<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Fee Payment Screen</title>
      <!-- Bootstrap -->
      <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- Font Awesome -->
      <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <!-- NProgress -->
      <link href="../nprogress/nprogress.css" rel="stylesheet">
      <!-- NProgress -->
      <link href="../nprogress/nprogress.css" rel="stylesheet">
      <!-- Dropzone.js -->
      <link href="../dropzone/dist/min/dropzone.min.css" rel="stylesheet">
    <!-- PNotify -->
    <link href="../pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="../pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="../pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
 

    
      <!-- Custom Theme Style -->
      <link href="../css/custom.min.css" rel="stylesheet">
   
   <style>
   .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
   
   </style>


   <!-- jQuery -->
	  
      <script src="../jquery/dist/jquery.min.js"></script>
	  
      <script src="../jszip/dist/jszip.min.js"></script>
      <script src="../pdfmake/build/pdfmake.min.js"></script>
      <script src="../pdfmake/build/vfs_fonts.js"></script> 
      
      
      <script type="text/javascript">
      $(document).ready(function () {


        var selectValues = <%- JSON.stringify(FeeCategory) %>;
        var FeeTypes = <%- JSON.stringify(FeeType) %>;

//console.log(selectValues)

for (i = 0; i < selectValues.length; i++) {

  $('#FeeCategory').append($("<option></option>")
     .attr("value", selectValues[i]._id)
     .text(selectValues[i].Fee_Category_Type));

}
for (i = 0; i < FeeTypes.length; i++) {

$('#FeeType').append($("<option></option>")
   .attr("value", FeeTypes[i]._id)
   .text(FeeTypes[i].Fee_Type));

}


   
var selectValues = <%- JSON.stringify(ClassRoom) %>;
      	///	console.log(selectValues.length)
      		var classnames = [];
      		for (i = 0; i < selectValues.length; i++) { 
      			if (classnames.includes(selectValues[i].class_Name)){
      			//	console.log()
      				} else {
      				$('#SchoolClass').append($("<option></option>")
                          .attr("value",selectValues[i].class_id)
                          .text(selectValues[i].class_Name))
                           
      					classnames.push(selectValues[i].class_Name);
      			}
      		}
      		
      $('#SchoolClass').on('change', function() {
        $( "#SchoolClass" ).removeClass( "parsley-error" );
        $("#schoolsection").removeClass("parsley-error");
        $('#schoolsection').empty();
        var selectValues = <%- JSON.stringify(ClassRoom) %>;
          var selectedval = $("#SchoolClass option:selected").html();
          $('#schoolsection').append($("<option></option>")
                          .attr("value","Choose Option")
                          .text("Choose Option")); 
      		for (i = 0; i < selectValues.length; i++) { 
      		var dataclass = selectValues[i].class_Name
      			if (selectedval == dataclass ){
      				//console.log("Not doufnd"+dataclass);
      					$('#schoolsection').append($("<option></option>")
                          .attr("value",selectValues[i]._id)
                          .text(selectValues[i].class_section)); 
      				} 
      		}
      });

      
         
        
      $('#schoolsection').on('change', function () {
   $("#schoolsection").removeClass("parsley-error");
   $('#studentSelect').empty();
   
   var classid = $("#schoolsection option:selected").val();
               // PREPARE FORM DATA
               var formData = {
                  class_id: classid
               }
               // DO POST
               $.ajax({
                  type: "post",
                  contentType: "application/json",
                  url: "/student/API/GetStudentbySection",
                  data: JSON.stringify(formData),
                  dataType: 'json',
                  success: function (student_data) {
                  //  console.log(JSON.stringify(student_data));
                  $('#studentSelect').append($("<option></option>")
						.attr("value", "Choose Option")
            .text("Choose Option")) ;
        
						for (i = 0; i < student_data.length; i++) {

                    
                       $('#studentSelect').append($("<option></option>")
						.attr("value", student_data[i]._id)
            .text(student_data[i].first_name+" "+student_data[i].middle_name+" "+student_data[i].last_name)) ;
            
					}
                  },
                  error: function (e) {
                     alert("Error!")
                     //console.log("ERROR: ", e);
                  }
               });
   
 
});


$('#FeeCategory').on('change', function () {
   $("#FeeCategory").removeClass("parsley-error");
   $('#FeeSubCategory').empty();
  // alert("Fee Category")
   
   var FeeCategory = $("#FeeCategory option:selected").val();
   var FeeCateg = <%- JSON.stringify(FeeCategory) %>;
for (var i=0;i<FeeCateg.length;i++){
if (FeeCateg[i]._id == FeeCategory){
  console.log(FeeCateg[i].Receipt_No_Prefix)
  $("#Reciept").html(FeeCateg[i].Receipt_No_Prefix)
}
}

   console.log(FeeCategory)
               // PREPARE FORM DATA
               var formData = {
                Fee_Category: FeeCategory
               }
               // DO POST
               $.ajax({
                  type: "post",
                  contentType: "application/json",
                  url: "/Fee/API/GetSubCategoryByCategory",
                  data: JSON.stringify(formData),
                  dataType: 'json',
                  success: function (Result) {
                    console.log(JSON.stringify(Result));
                
                  $('#FeeSubCategory').append($("<option></option>")
						.attr("value", "Choose Option")
            .text("Choose Option")) ;
        
						for (i = 0; i < Result.length; i++) {
                       $('#FeeSubCategory').append($("<option></option>")
						.attr("value", Result[i]._id)
            .text(Result[i].Fee_Sub_Category_Name)) ;
            
					}
                  },
                  error: function (e) {
                     alert("Error!")
                     //console.log("ERROR: ", e);
                  }
               });
});

$('#FeeSubCategory').on('change', function () {
   $("#FeeSubCategory").removeClass("parsley-error");
   $('#FeeSubType').empty();
   alert("Fee Category")
   
   var FeeCategory = $("#FeeSubCategory option:selected").val();

   console.log(FeeCategory)
               // PREPARE FORM DATA
               var formData = {
                Fee_SubCategory: FeeCategory
               }
               // DO POST
               $.ajax({
                  type: "post",
                  contentType: "application/json",
                  url: "/Fee/API/GetFeeTypeDetialsByCategory",
                  data: JSON.stringify(formData),
                  dataType: 'json',
                  success: function (Result) {
                    console.log(JSON.stringify(Result));
                
                  $('#FeeSubType').append($("<option></option>")
						.attr("value", "Choose Option")
            .text("Choose Option")) ;
        
						for (i = 0; i < Result.length; i++) {
                       $('#FeeSubType').append($("<option></option>")
						.attr("value", Result[i]._id)
            .text(Result[i].FeeTypeText)) ;
            
					}
                  },
                  error: function (e) {
                     alert("Error!")
                     //console.log("ERROR: ", e);
                  }
               });
});



$('#FeeSubType').on('change', function () {
   $("#FeeSubType").removeClass("parsley-error");
 
 //  alert("Fee Category")
   
   var FeeCategory = $("#FeeSubCategory option:selected").val();
   var studentid =  $("#studentSelect option:selected").val();
   
               // PREPARE FORM DATA
               var formData = {
                Fee_SubCategory: FeeCategory,
                studentid : studentid
               }
               // DO POST
               $.ajax({
                  type: "post",
                  contentType: "application/json",
                  url: "/Fee/API/GetStudentFeeDetails",
                  data: JSON.stringify(formData),
                  dataType: 'json',
                  success: function (Result) {
                    console.log(JSON.stringify(Result));
                    var Data = JSON.stringify(Result);
                    console.log(Result["Amount"]["Amount"]) 
                 
                    var admissionNo = Result["Student"]["admission_number"];
                    var Amount = Result["Amount"]["Amount"];
                    var StudentName = $("#studentSelect option:selected").text();
                    $("#AdmissionNo").html(admissionNo);
                    
                    $("#StudentName").html(StudentName);
                      $("#Amount").val(Amount);
                      $("#Fine").val("00");
                  },
                  error: function (e) {
                     alert("Error!")
                     //console.log("ERROR: ", e);
                  }
               });
});



$('#send').on('click', function() {
         
         var ClassName  = $("#SchoolClass option:selected").text();
         var SectionId =  $("#schoolsection option:selected").val();
         var StudentName = $("#StudentName").html();
         var AdmissionNo =  $("#AdmissionNo").html();
         var FeeCategory  = $("#FeeCategory option:selected").val();
         var FeeSubCategory  = $("#FeeSubCategory option:selected").val();
         var FeeSubType =  $("#FeeSubType option:selected").val();
         var Fine = $("#Fine").val();
         var Amount = $("#Amount").val();
         var Status = "Paid"
         var loggedinUser  = $("#LoggedUserId").text();
        var StudentId = $("#studentSelect option:selected").val();
        var Reciept = $("#Reciept").html()
        var PaymentDate = new Date
       
         if(Reciept=="" || ClassName == "Choose option"  || SectionId == "Choose Option" || StudentName == ""|| AdmissionNo == "" || FeeCategory == "" || FeeSubCategory == "" || FeeSubType == "" || Fine == "" || Amount == ""||Status == ""){

       //alert("Please enter All Details")
       var notify = new PNotify({title:"Attention",type:"info",text:"Kindly Fill Required Details.",nonblock:{nonblock:!0},addclass:"dark",styling:"bootstrap3",before_close:function(a){return a.update({title:a.options.title+" - Enjoy your Stay"})}});
                   $(".ui-pnotify-container").click(function() {
                     notify.remove();
                   }); 
       } else {



       var formData = {
         ClassName : ClassName ,
         SectionId: SectionId ,
         StudentName:StudentName,
         AdmissionNo : AdmissionNo,
         FeeCategory:FeeCategory,
         FeeSubCategory: FeeSubCategory ,
         FeeSubType: FeeSubType ,
         Fine :Fine ,
         Amount: Amount ,
         Status :Status,
         CreatedBy : loggedinUser,
         StudentId: StudentId,
         PaymentDate : PaymentDate,
         Reciept:Reciept
       }
         // DO POST
         $.ajax({
             type: "post",
             contentType: "application/json",
             url: "/Fee/StudentPayment",
             data: JSON.stringify(formData),
             dataType: 'json',
             success: function (result_Data) {
               
             alert("Successfully saed Homework");
             console.log(result_Data[0].PaymentID)

             var notify = new PNotify({title:"Attention",type:"info",text:"SubCategory Successfully Saved .",nonblock:{nonblock:!0},addclass:"dark",styling:"bootstrap3",before_close:function(a){return a.update({title:a.options.title+" - Enjoy your Stay"})}});
                   $(".ui-pnotify-container").click(function() {
                     notify.remove();
                   }); 
           
            //window.location.replace("/");
             window.open('/Fee/PrintOut/'+result_Data[0].PaymentID, 'PrintOut ');

             },
             error: function (e) {
               alert("Error!")
               //console.log("ERROR: ", e);
             }
         });

       }
       });
   

});
 

</script>
   </head>
   <body class="nav-md">
      <div class="container body">
         <div class="main_container">
            <div class="col-md-3 left_col">
         <!-- views/partials/head.ejs -->  
		         <% include ../views/partials/header.ejs%>
			<!-- page content -->
            <div class="right_col" role="main">
               <div class="">
                  <div class="row top_tiles">
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_panel">
                       <div class="x_title">
                         <h2>Fee Payment<small></small></h2>
                         <ul class="nav navbar-right panel_toolbox">
                           <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                           </li>
                           <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                             <ul class="dropdown-menu" role="menu">
                               <li><a href="#">Settings 1</a>
                               </li>
                               <li><a href="#">Settings 2</a>
                               </li>
                             </ul>
                           </li>
                           <li><a class="close-link"><i class="fa fa-close"></i></a>
                           </li>
                         </ul>
                         <div class="clearfix"></div>
                       </div>
                       <div class="x_content">
                  
                         <form class="form-horizontal form-label-left"   novalidate>
     
                          <!--  <p>For alternative validation library <code>parsleyJS</code> check out in the <a href="form.html">form page</a>
                           </p>
                           -->  
                           <div class="form-group" id="classWise" >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Class Name<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               <select id="SchoolClass" class="form-control">
                            <option  >Choose option</option>
                            
                           </select>
                            </div>
                          </div>
						          <div class="form-group" id="SectionWise">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Section <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               <select id="schoolsection" class="form-control">
                            <option>Choose option</option>
                            
                           
						              </select>
                            </div>
                          </div>
					            	  <div class="form-group" id="StudentWise">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Student Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <select id="studentSelect" class="form-control">
                           <option>Choose option</option>
                           
                          
                         </select>
                           </div>
                       
                          </div>               
                           <div class="item form-group">
                             <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Fee Category <span class="required">*</span>
                             </label>
                             <div class="col-md-6 col-sm-6 col-xs-12">
                              <select class="form-control" id="FeeCategory">
                                <option>Choose option</option>
                             </select>
                             </div>
                           </div>
                           <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Fee Sub Category <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                             <select class="form-control" id="FeeSubCategory">
                               <option>Choose option</option>
                            </select>
                            </div>
                          </div>
                         
                      
                          <div class="item form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Fee Sub Type <span class="required">*</span>
                           </label>
                           <div class="col-md-6 col-sm-6 col-xs-12">
                             <select class="form-control" id="FeeSubType">
                               <option>Choose option</option>
                            </select> </div>
                         </div>
                          
                         </form>
                            <!-- start project list -->
                    <table class="table table-striped projects">
                     <thead>
                       <tr>
                         <th >Admisson No</th>
                         <th style="width: 20%">Student Name</th>
                         <th>Amount</th>
                         <th>Fine</th>
                         <th>Status</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td id="AdmissionNo">#</td>
                         <td id="StudentName">
                           <a>Piyush</a>
                         </td>
                       
                         <td >
                           
                           <input type="text"   required="required" id="Amount">
                         </td>
                         <td class="project_progress">
                          <input type="text"   required="required" id="Fine">
                         </td>
                         <td>
                           Pending
                         </td>
                        
                       </tr>
                     </tbody>
                   </table>
                   <!-- end project list -->
                   <div id="Reciept" style="display: none;"></div>
                   <div class="ln_solid" ></div>
                   <div class="form-group">
                     <div class="col-md-6 col-md-offset-3">
                       <button type="submit" class="btn btn-primary">Cancel</button>
                       <button id="send" type="submit" class="btn btn-success">Submit</button>
                     </div>
                   </div>
                       </div>
                     </div>
                   </div>
               
                 </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
               <div class="pull-right">
                  Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
               </div>
               <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
         </div>
      </div>
   </div>
   <script src="../jquery/dist/jquery.min.js"></script>
   <!-- Bootstrap -->
      <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- FastClick -->
      <script src="../fastclick/lib/fastclick.js"></script>
      <!-- jQuery Sparklines -->
      <script src="../jquery-sparkline/dist/jquery.sparkline.min.js"></script>
       <!-- NProgress -->
       <script src="../nprogress/nprogress.js"></script>
       <!-- Dropzone.js -->
       <script src="../dropzone/dist/min/dropzone.min.js"></script>
      <!-- bootstrap-daterangepicker -->
      <script src="../moment/min/moment.min.js"></script>
    <!-- validator -->
    <script src="../validator/validator.js"></script>
      <!-- Custom Theme Scripts -->
      <script src="../js/custom.min.js"></script>
       <!-- bootstrap-datetimepicker -->    
     <!-- PNotify -->
     <script src="../pnotify/dist/pnotify.js"></script>
     <script src="../pnotify/dist/pnotify.buttons.js"></script>
     <script src="../pnotify/dist/pnotify.nonblock.js"></script>
   
       <script src="../bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    
   </body>
   <script type="text/javascript">


      $(document).ready(function(){


      }); 
   </script>
</html>