<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>PrintOut</title>
      <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- Font Awesome -->
      <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="../../jquery/dist/jquery.min.js"></script>
      <!-- Bootstrap -->
         <script src="../../bootstrap/dist/js/bootstrap.min.js"></script>
         <!-- FastClick -->
     
      
     <style  >
     
         p {
         margin-top: 3pc;
         color: white;
         background-color: white;
         border: 0px;
         height: 0px;
         border-top: 1px dashed gray;
         }
         p:after {
         content: '\002702';
         position: relative;
         top: -13px;
         left: 20px;
         padding: 0 2px;
         background: white;
         color: gray;
         font-size: 15px;
         }
      </style>
      <script>
         $(document).ready(function(){ 
            var xx =  <%-  JSON.stringify(PaymentResult) %>;
   
         console.log(xx);
   
         var date =  new Date().getDate();
         var month = new Date().getMonth();
         var month= month+1;
         var Year = new Date().getFullYear();
         var weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
         var a = new Date();
         var time = a.getHours() + ":" + a.getMinutes();
         console.log(date+" - "+month+" - "+Year+" ( "+weekday[a.getDay()] +" ) ")
         var PrintDay = date+"-"+month+"-"+Year+"  "+time+" ( "+weekday[a.getDay()] +" )" ; 
         $(".CurrDate").text("Date & Time :- "+PrintDay);	
   
            console.log(<%-  JSON.stringify(PaymentResult.Student_ID.mother_contact_No )%>);
            console.log("<%-  PaymentResult.Student_ID.mother_contact_No %>--");
         
         });
         </script>
   </head>
   <body>
     <div class="container" style="margin-top: 1pc;">
         <div class="card">
            <div class="card-header">
               <span class="float-left"><img src="/img/logo/symbol.png" alt=""style="background: transparent;width: 124px;"></span>
               
			   <div class="col-sm-8" style="margin-left: 16pc;"><strong style="font-size: 2pc;">DAV Public School</strong> <br>
			   <strong>Address</strong> :- Noida , Pin Code:- 821307  <br>
			   <strong>Email ID</strong> :-  ptripa03@gmail.com<br>
			  <strong>Contact Number  </strong> :- 95453423224 </div>
			   
               <span class="float-right" style="margin-top: -80px;"><strong>Invoice :-  <%-  PaymentResult.PaymentID %></strong>  <br></span>
            </div>
            <div class="card-body">
               <div class="row "style="MARGIN-BOTTOM: 4PC;">
                  <div class="col-sm-4">
                     <h6 class="mb-3"></h6>
                     <div><strong>Student Name :-  </strong><%-  PaymentResult.Student_Name %></div>
                     <div><strong>Class :-   </strong><%-  PaymentResult.Section.class_Name %></div>
                     <div><strong>Section:-  </strong><%-  PaymentResult.Section.class_section %></div>
                     
                     <div>Age/Sex :-	<%-  PaymentResult.Student_ID.sex %>	 	 </div>
                     <div>Phone   :- <%-  PaymentResult.Student_ID.father_Contact_No %></div>
					 <div>Address :- 	<%-  PaymentResult.Student_ID.address %></div>
					
					 
					 
                  </div>
                  <div class="col-sm-4">
                     <div id="qrcode"></div>
                  </div>
                  <div class="col-sm-4">
                     <h6 class="mb-3"></h6>
                     
					 <div class="CurrDate">Date & Time :- 22-12-2018 03:00:PM </div>
                     <div>Payment Date :- <%-  PaymentResult.PaymentDate %></div>
					 <div>Payment Type :- <%-  PaymentResult.Fee_Category.Fee_Category_Type %></div>
					 
                  
                  </div>
               </div>
               <div class="table-responsive-sm">
                  <table class="table table-striped">
                     <thead>
                        <tr>
                           <th>Fee Type</th>
                          
                           <th class="center">Amount</th>
                           <th class="right">Fine</th>
                           <th class="right">Total</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td class="left "> <%-  PaymentResult.Fee_TypeDetails.FeeTypeText %></td>
                           <td class="right"> <%-  PaymentResult.Amount %></td>
                         
                           <td class="center">
                             
                              <%-  PaymentResult.Fine %>
								 
								 
                           </td>
                           <td class="right" >
                              <%-  PaymentResult.Fine + PaymentResult.Amount %>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div class="row">
                  <div class="col-lg-4 col-sm-2">
                  </div>
                  <div class="col-lg-4 col-sm-5 ml-auto">
                     
                     <table class="table table-clear">
                        <tbody>
						<br>
						<br>
                           <tr>
                              <td class="text-center"><strong>Signature</strong></td>
                              <td class="text-right"><strong></strong></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
	  
	 
	  <p></p>
	  
	
	  
	  
	  
      <!-- new Date().getDay(); --> 
   </body>
		
   
   </html>