<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Upload Gallery Form</title>
      <!-- Bootstrap -->
      <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- Font Awesome -->
      <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <!-- NProgress -->
      <link href="../nprogress/nprogress.css" rel="stylesheet">
      <!-- bootstrap-daterangepicker -->
      <link href="../bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
      <!-- bootstrap-datetimepicker -->
    <link href="../vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    
      <!-- Custom Theme Style -->
      <link href="../css/custom.min.css" rel="stylesheet">
   
   <style>
   .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
   
   </style>


   <!-- jQuery -->
	  
      <script src="../jquery/dist/jquery.min.js"></script>
	  
      <script src="../jszip/dist/jszip.min.js"></script>
      <script src="../pdfmake/build/pdfmake.min.js"></script>
      <script src="../pdfmake/build/vfs_fonts.js"></script> 
    
   </head>
   <body class="nav-md">
      <div class="container body">
         <div class="main_container">
            <div class="col-md-3 left_col">
         <!-- views/partials/head.ejs -->  
		         <% include ../views/partials/header.ejs%>
			<!-- page content -->
            <div class="right_col" role="main">
               <div class="">
                  <div class="row top_tiles">
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="container">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Upload Image</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-file">
                                            Browse… <input type="file" id="imgInp">
                                        </span>
                                    </span>
                                    <input type="text" class="form-control" readonly>
                                </div>
                                <img id='img-upload'/>
                            </div>
                        </div>
                        </div>
                   </div>
               </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
               <div class="pull-right">
                  Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
               </div>
               <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
         </div>
      </div>
   </div>
      <!-- Bootstrap -->
      <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- FastClick -->
      <script src="../fastclick/lib/fastclick.js"></script>
      <!-- jQuery Sparklines -->
      <script src="../jquery-sparkline/dist/jquery.sparkline.min.js"></script>
      <!-- DateJS -->
      <script src="../DateJS/date.js"></script>
      <!-- bootstrap-daterangepicker -->
      <script src="../moment/min/moment.min.js"></script>
      <script src="../bootstrap-daterangepicker/daterangepicker.js"></script>
      <!-- Custom Theme Scripts -->
      <!-- jQuery Smart Wizard -->
      <script src="../jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
      <!-- Custom Theme Scripts -->
      <script src="../js/custom.min.js"></script>
       <!-- bootstrap-datetimepicker -->    
    <script src="../vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    
   </body>
   <script type="text/javascript">


      $(document).ready(function(){

         $(document).on('change', '.btn-file :file', function() {
		var input = $(this),
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		input.trigger('fileselect', [label]);
		});

		$('.btn-file :file').on('fileselect', function(event, label) {
		    
		    var input = $(this).parents('.input-group').find(':text'),
		        log = label;
		    
		    if( input.length ) {
		        input.val(log);
		    } else {
		        if( log ) alert(log);
		    }
	    
		});
		function readURL(input) {
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();
		        
		        reader.onload = function (e) {
		            $('#img-upload').attr('src', e.target.result);
		        }
		        
		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#imgInp").change(function(){
		    readURL(this);
		}); 	






         $("#comments").hide();
            $("#TodayDay").hide();
            $("#SelectType").hide();
            $("#Submit").hide();


         $('#single_cal2').daterangepicker({
			  singleDatePicker: true,
			  singleClasses: "picker_2"
			}, function(start, end, label) {
           console.log(start.toISOString(), end.toISOString(), label);
           var day = end.toISOString();
           var d = new Date(day);
           console.log(d);
            var n = d.getDay();
         //  alert(n);
           $("#Date_Day").val(d);
           $("#SelectType").show(500);
           $("#TodayDay").show(1000);
           $("#comments").show(1500);
           $("#Submit").show(2000);
           
           
        
            
         });
  
      	      		
      $('#Submmit').on('click', function() {
       alert("Submitted");
        // ajax for calander update  
        var loggedinUser  = $("#LoggedUserId").text();
        
           var todayDay = $("#Date_Day").val();
           var d = new Date(todayDay);
           var comments = $("#message").val();
           var user = loggedinUser;
           var weekday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
            var Day =  weekday[d.getDay()];
            var select = $("#holidaysection option:selected").text();
            var formData = {
            calender_date: d,
            calender_day :  Day,
            select_type : select,
            comments : comments,
            created_by : user,
         }

                  // DO POST
                  $.ajax({
                     type: "post",
                     contentType: "application/json",
                     url: "/AnnualCalander/API/SubmitCalander",
                     data: JSON.stringify(formData),
                     dataType: 'json',
                     success: function (result_Data) {
   
                        alert(JSON.stringify(result_Data));
                     window.location.replace("/AnnualCalander ");
                     },
                     error: function (e) {
                        alert("Error!")
                        //console.log("ERROR: ", e);
                     }
                  });
   





      });

      });
      	
       
       
   </script>
</html>