<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>School Management</title>

  <!-- Bootstrap -->
  <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="../nprogress/nprogress.css" rel="stylesheet">
  <!-- bootstrap-daterangepicker -->
  <link href="../bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="../css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">

        <% include ../views/partials/header.ejs%>
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="row top_tiles">

              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <a href="/attendence">
                    <div class="icon"><i class="fa fa-graduation-cap"></i></div>
                    <div class="count">Student</div>
                    <h3><a href="/attendence">Attendence</a></h3>

                  </a>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <a href="/Announcement">
                  <div class="icon"><i class="fa fa-bullhorn"></i></div>
                  <div class="count">All</div>
                  <h3><a href="/Announcement">Announcement</a></h3>

                  </a>

                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <a href="/AnnualCalander">
                  <div class="icon"><i class="fa fa-calendar"></i></div>
                  <div class="count">Annual</div>
                  <h3><a href="/AnnualCalander"> Calendar</a></h3>

                
                </div>
              </div>
            <!--   <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                  <div class="count">_</div>
                  <h3><a href="/Notifications">Notifications</a></h3>

                  <p>_</p>
                </div>
              </div> -->
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <a href = "/Noticeboard">
                  <div class="icon"><i class="glyphicon glyphicon-blackboard"></i></div>
                  <div class="count">Notice</div>
                  <h3><a  href = "/Noticeboard"> board</a></h3>

                  
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <a href="/homework">
                  <div class="icon"><i class="glyphicon glyphicon-blackboard"></i></div>
                  <div class="count">Home</div>
                  <h3><a href="/homework">Work</a></h3>
                  </a>
                </div>
              </div>

              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <a href = "/Location">
                  <div class="icon"><i class="fa fa-bus"></i></div>
                  <div class="count">Location</div>
                  <h3><a href="/Location"> Tracing</a></h3>
                </a>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <a href="/admin">
                  <div class="icon"><i class="fa fa-book"></i></div>
                  <div class="count">Student</div>
                  <h3><a href="/admin">Marks</a></h3>

                  </a>
                </div>
              </div>

              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <a href="/Fee/Category">
                  <div class="icon"><i class="fa fa-rupee"></i></div>
                  <div class="count">Fee</div>
                  <h3><a href="/admin">Details</a></h3>
                </a>
                </div>
              </div>
              
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <a href="/admin">
                  <div class="icon"><i class="fa fa-comment"></i></div>
                  <div class="count">Feedback</div>
                  <h3><a href="/admin">_</a></h3>

                  </a>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <a href="/Video">
                  <div class="icon"><i class="fa fa-file-video-o"></i></div>
                  <div class="count">Video</div>
                  <h3><a href="/Video">_</a></h3>

                  </a>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <a href="/Gallery">
                  <div class="icon"><i class="fa fa-file-image-o"></i></div>
                  <div class="count">Gallery</div>
                  <h3><a href="/Gallery">_</a></h3>
                  </a>
                </div>
              </div>

            </div>





          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="../Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="../jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- Flot -->
    <script src="../Flot/jquery.flot.js"></script>
    <script src="../Flot/jquery.flot.pie.js"></script>
    <script src="../Flot/jquery.flot.time.js"></script>
    <script src="../Flot/jquery.flot.stack.js"></script>
    <script src="../Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="../DateJS/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../moment/min/moment.min.js"></script>
    <script src="../bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../js/custom.min.js"></script>
</body>

</html>