<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Notifications Form</title>

    <!-- Bootstrap -->
    <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="../bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../css/custom.min.css" rel="stylesheet">
	    <!-- Datatables -->
    <link href="../datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="../datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="../datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="../datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="../datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

  </head>
  

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
       
	   <% include ../views/partials/header.ejs%>
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="row top_tiles">
             </div>

             <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Notification<small>Form</small></h2>
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <!-- Smart Wizard -->
                    <p>Notification Form to send Data by category </p>
                    <div id="wizard" class="form_wizard wizard_horizontal">
                      <ul class="wizard_steps">
                        <li>
                          <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">
                                              Notification Type<br />
                                              <small>select Notification Type </small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">
                                              Notification <br />
                                              <small>Edit Notification</small>
                                          </span>
                          </a>
                        </li>
                        <li>
                          <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">
                                              Preview Notification<br />
                                              <small>Preview of student attendance</small>
                                          </span>
                          </a>
                        </li>
                      
                      </ul>
                      <div id="step-1">
                        <form class="form-horizontal form-label-left">
						 
                          <div class="form-group" id="AllNotification">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Notification Type <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               <select id="NotificationType" class="form-control">
                            <option>Choose option</option>
                            <!-- <option>For All</option> -->
                            <option>All Student</option>
                            <option>Student Class Wise</option>
                            <option>Student Section Wise</option>
                            <option>Individual Student</option>
                           <!--  <option>All Teachers</option>
                            <option>Individual Teachers</option>
                            --> 
							</select>
                            </div>
                          </div>
                      <div class="form-group" id="classWise" >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Class Name<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               <select id="SchoolClass" class="form-control">
                            <option  >Choose option</option>
                            
                           </select>
                            </div>
                          </div>
						  <div class="form-group" id="SectionWise">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Section <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               <select id="schoolsection" class="form-control">
                            <option>Choose option</option>
                            
                           
						   </select>
                            </div>
                          </div>
					            	  <div class="form-group" id="StudentWise">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Student Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               <select class="form-control">
                            <option>Choose option</option>
                            <option>Student A</option>
                            <option>Student B</option>
                            <option>Student C</option>
                            <option>Student D</option>
                            <option>Student E</option>
                           
						   </select>
                            </div>
                          </div>
						             <div class="form-group" id="TeacherWise">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Teachers <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               <select class="form-control">
                            <option>Choose option</option>
                            <option>Teacher A</option>
                            <option>Teacher B</option>
                            <option>Teacher C</option>
                            <option>Teacher D</option>
                            <option>Teacher E</option>
                           
						   </select>
                            </div>
                          </div>
                         
                        </form>

                      </div>
                      <div id="step-2">
                        <h2 class="StepTitle">Notification Message</h2>
                    <textarea class="form-control" rows="3" placeholder="Date Of Birth" style="margin: 0px 35.625px 0px 0px; width: 306px; height: 186px;"></textarea>
                      </div>
                      <div id="step-3">
                        <h2 class="StepTitle">Preview Notification</h2>
                       <textarea class="form-control" rows="3" placeholder="Date Of Birth" style="margin: 0px 35.625px 0px 0px; width: 306px; height: 186px;"></textarea>      
              </div>

				
                   
                    </div>
                    <!-- End SmartWizard Content -->

				</div>
                </div>
              </div>
       



          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="../Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="../jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- Flot -->
    <script src="../Flot/jquery.flot.js"></script>
    <script src="../Flot/jquery.flot.pie.js"></script>
    <script src="../Flot/jquery.flot.time.js"></script>
    <script src="../Flot/jquery.flot.stack.js"></script>
    <script src="../Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="../DateJS/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../moment/min/moment.min.js"></script>
    
	<script src="../bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <!-- jQuery Smart Wizard -->
    <script src="../jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../js/custom.min.js"></script>
 <!-- Datatables -->
    <script src="../datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="../jszip/dist/jszip.min.js"></script>
    <script src="../pdfmake/build/pdfmake.min.js"></script>
    <script src="../pdfmake/build/vfs_fonts.js"></script>  
  </body>
  
   <script type="text/javascript">
      $(document).ready(function(){



        var selectValues = <%- JSON.stringify(classsec) %>;
      		//console.log(selectValues.length)
      		var classnames = [];
      		for (i = 0; i < selectValues.length; i++) { 
      			if (classnames.includes(selectValues[i].class_Name)){
      			//	console.log()
      				} else {
      				$('#SchoolClass').append($("<option></option>")
                          .attr("value",selectValues[i].class_id)
                          .text(selectValues[i].class_Name)); 
      					classnames.push(selectValues[i].class_Name);
      			}
      		}
      		
      $('#SchoolClass').on('change', function() {
        $( "#SchoolClass" ).removeClass( "parsley-error" );
        $('#schoolsection').empty();
        var selectValues = <%- JSON.stringify(classsec) %>;
          var selectedval = $("#SchoolClass option:selected").html();
      		for (i = 0; i < selectValues.length; i++) { 
      		var dataclass = selectValues[i].class_Name
      			if (selectedval == dataclass ){
      				//console.log("Not doufnd"+dataclass);
      					$('#schoolsection').append($("<option></option>")
                          .attr("value",selectValues[i].class_id)
                          .text(selectValues[i].class_section)); 
      				} 
      		}
      });






      $("#classWise").hide();
			$("#SectionWise").hide();
			$("#TeacherWise").hide();
			$("#StudentWise").hide();
      $('#NotificationType').on('change', function() {
       		
        //$('#schoolsection').empty();
        
          var NotificationType = $("#NotificationType option:selected").html();
      		if (NotificationType == "For All" || NotificationType == "All Student"||NotificationType == "All Teachers"){
			$("#classWise").hide(500);
			$("#SectionWise").hide(500);
			$("#TeacherWise").hide(500);
			$("#StudentWise").hide(500);
			
			} else if (NotificationType == "Student Class Wise"){
				$("#classWise").show(500);
				$("#SectionWise").hide(500);
				$("#TeacherWise").hide(500);
				$("#StudentWise").hide(500);
			}else if (NotificationType == "Student Section Wise"){
				$("#classWise").show(500);
				$("#SectionWise").show(1000);
				$("#TeacherWise").hide(500);
				$("#StudentWise").hide(500);
			}else if (NotificationType == "Individual Teachers"){
				$("#classWise").hide(500);
				$("#SectionWise").hide(1000);
				$("#TeacherWise").show(500);
				$("#StudentWise").hide(500);
			}else if (NotificationType == "Individual Student"){
				$("#classWise").show(500);
				$("#SectionWise").show(1000);
				$("#TeacherWise").hide(500);
				$("#StudentWise").show(1500);
			}
      });
      
      	
      });
      	
       
       
   </script>
</html>