<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>View Annual Calander Form</title>
      <!-- Bootstrap -->
      <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- Font Awesome -->
      <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <!-- NProgress -->
      <link href="../nprogress/nprogress.css" rel="stylesheet">
      <!-- bootstrap-daterangepicker -->
      <link href="../bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
      <!-- Datatables -->
      <link href="../datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
      <link href="../datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
      <link href="../datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
      <link href="../datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
      <link href="../datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet"
         href="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" />
      <link rel="stylesheet" href="http://cdn.datatables.net/responsive/1.0.2/css/dataTables.responsive.css" />
      <!-- jQuery -->
     
      <!-- Custom Theme Style -->
      <link href="../css/custom.min.css" rel="stylesheet">
   <!-- jQuery -->
	  
      <script src="../jquery/dist/jquery.min.js"></script>
	  
      <script src="../jszip/dist/jszip.min.js"></script>
      <script src="../pdfmake/build/pdfmake.min.js"></script>
      <script src="../pdfmake/build/vfs_fonts.js"></script> 
    
   </head>
   <body class="nav-md">
      <div class="container body">
         <div class="main_container">
            <div class="col-md-3 left_col">
         <!-- views/partials/head.ejs -->  
		         <% include ../views/partials/header.ejs%>
			<!-- page content -->
            <div class="right_col" role="main">
               <div class="">
                  <div class="row top_tiles">
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_panel">
                       <div class="x_title">
                         <h2>View Calander</h2>
                         <ul class="nav navbar-right panel_toolbox">
                           <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                           </li>
                          
                           <li><a class="close-link"><i class="fa fa-close"></i></a>
                           </li>
                         </ul>
                         <div class="clearfix"></div>
                       </div>
                       <div class="x_content">
                        
                         
                   <table id="datatable-buttons" class="table table-striped table-bordered">
                     <thead>
                       <tr>
                         <th>Date</th>
                         <th>Day</th>
                         <th>Event Type</th>
                         <th>Event </th>
                       </tr>
                     </thead>
                     <tbody>
                        
                      
                     </tbody>
                   </table>
              
           
                                


                      </div>
                     </div>
                   </div>
               </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
               <div class="pull-right">
                  Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
               </div>
               <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
         </div>
      </div>
   </div>
      <!-- Bootstrap -->
      <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- FastClick -->
      <script src="../fastclick/lib/fastclick.js"></script>
      <!-- jQuery Sparklines -->
      <script src="../jquery-sparkline/dist/jquery.sparkline.min.js"></script>
      <!-- DateJS -->
      <script src="../DateJS/date.js"></script>
      <!-- bootstrap-daterangepicker -->
      <script src="../moment/min/moment.min.js"></script>
      
      <!-- Custom Theme Scripts -->
      <!-- jQuery Smart Wizard -->
      <script src="../jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
      <!-- Custom Theme Scripts -->
      <script src="../js/custom.min.js"></script>
       <!-- bootstrap-datetimepicker -->    
    
      <!-- Datatables -->
      <script src="../datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="../datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
      <script src="../datatables.net-buttons/js/dataTables.buttons.min.js"></script>
      <script src="../datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
      <script src="../datatables.net-buttons/js/buttons.flash.min.js"></script>
      <script src="../datatables.net-buttons/js/buttons.html5.min.js"></script>
      <script src="../datatables.net-buttons/js/buttons.print.min.js"></script>
      <script src="../datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
      <script src="../datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
      <script src="../datatables.net-responsive/js/dataTables.responsive.min.js"></script>
      <script src="../datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
      <script src="../datatables.net-scroller/js/dataTables.scroller.min.js"></script>
      <script src="../jszip/dist/jszip.min.js"></script>
      <script src="../pdfmake/build/pdfmake.min.js"></script>
      <script src="../pdfmake/build/vfs_fonts.js"></script>
    
   </body>
   <script type="text/javascript">


      $(document).ready(function(){

         function GetCustomDate( datedata )
{
    
   var today = new Date(datedata);
                     var dd = today.getDate();
                     var mm = today.getMonth() + 1; //January is 0!
                     var yyyy = today.getFullYear();
                     if (dd < 10) {
                        dd = '0' + dd;
                     } 
                     if (mm < 10) {
                        mm = '0' + mm;
                     } 
                     var Day =  dd +"-"+ mm+'-'+yyyy  ;
     return Day;
}



         var Data = <%- JSON.stringify(classsec) %>;
         var table = $('#datatable-buttons').DataTable();
         for (var i = 0; i < Data.length; i++) {
               var customDate = GetCustomDate(Data[i].calender_date)
            
                        table.row.add([
                           customDate,
                           Data[i].calender_day,
                           Data[i].select_type,
                           Data[i].comments,
                        ]).draw(true);
         }


         $("#comments").hide();
            $("#TodayDay").hide();
            $("#SelectType").hide();
            $("#Submit").hide();


      
  
      	      		
      $('#Submmit').on('click', function() {
       alert("Submitted");
        // ajax for calander update  
        var loggedinUser  = $("#LoggedUserId").text();
        
           var todayDay = $("#Date_Day").val();
           var d = new Date(todayDay);
           var comments = $("#message").val();
           var user = loggedinUser;
           var weekday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
            var Day =  weekday[d.getDay()];
            var select = $("#holidaysection option:selected").text();
            var formData = {
            calender_date: d,
            calender_day :  Day,
            select_type : select,
            comments : comments,
            created_by : user,
         }

                  // DO POST
                  $.ajax({
                     type: "post",
                     contentType: "application/json",
                     url: "/AnnualCalander/API/SubmitCalander",
                     data: JSON.stringify(formData),
                     dataType: 'json',
                     success: function (result_Data) {
   
                        alert(JSON.stringify(result_Data));
                     window.location.replace("/AnnualCalander ");
                     },
                     error: function (e) {
                        alert("Error!")
                        //console.log("ERROR: ", e);
                     }
                  });
   





      });

      });
      	
       
       
   </script>
</html>