<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Daily Attendance Report</title>
       <!-- Bootstrap -->
   <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
   <!-- Font Awesome -->
   <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">
   <!-- NProgress -->
   <link href="../nprogress/nprogress.css" rel="stylesheet">
   <!-- bootstrap-daterangepicker -->
   <link href="../bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
   <!-- Custom Theme Style -->
   <link href="../css/custom.min.css" rel="stylesheet">
   <!-- Datatables -->
   <link href="../datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
   <link href="../datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
   <link href="../datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
   <link href="../datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
   <link href="../datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet"
      href="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" />
   <link rel="stylesheet" href="http://cdn.datatables.net/responsive/1.0.2/css/dataTables.responsive.css" />
   <!-- jQuery -->

      <!-- Datatables -->
      <script src="../jquery/dist/jquery.min.js"></script>
      <script src="../datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="../datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
      <script src="../datatables.net-buttons/js/dataTables.buttons.min.js"></script>
      <script src="../datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
      <script src="../datatables.net-buttons/js/buttons.flash.min.js"></script>
      <script src="../datatables.net-buttons/js/buttons.html5.min.js"></script>
      <script src="../datatables.net-buttons/js/buttons.print.min.js"></script>
      <script src="../datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
      <script src="../datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
      <script src="../datatables.net-responsive/js/dataTables.responsive.min.js"></script>
      <script src="../datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
      <script src="../datatables.net-scroller/js/dataTables.scroller.min.js"></script>
      <script src="../jszip/dist/jszip.min.js"></script>
      <script src="../pdfmake/build/pdfmake.min.js"></script>
      <script src="../pdfmake/build/vfs_fonts.js"></script>
      
     
     <script  type="text/javascript" >
          
      $(document).ready(function(){

          
          $('#Submmit').on('click', function() {
                alert("Submitted");
        // ajax for calander update  
               //var loggedinUser  = $("#LoggedUserId").text();
               $('#datatable-buttons').DataTable().clear();
                var Report_Attendence = $('#datatable-buttons').DataTable();

        
           var todayDay = $("#single_cal2").val();
           console.log(todayDay)
             var select = $("#schoolsection option:selected").val();
            console.log(select,todayDay)
            var formData = {
                  attendence_date : todayDay ,
                  Class_id :  select
         }
                  // DO POST
                  $.ajax({
                     type: "post",
                     contentType: "application/json",
                     url: "/attendence/API/ViewAttendence",
                     data: JSON.stringify(formData),
                     dataType: 'json',
                     success: function (result_Data) {
                        
                      console.log(result_Data.length);
                      for (var i = 0; i < result_Data.length; i++) {
                       Report_Attendence.row.add([
                     
                           result_Data[i].students.roll_No,
                           result_Data[i].students.first_name,
                           result_Data[i].students.middle_name,
                           result_Data[i].students.last_name,
                           result_Data[i].attendance_date,
                           result_Data[i].status,
                           result_Data[i].reason,
                           result_Data[i].remarks
                        ]).draw(false);
                       
                     }
                    // window.location.replace("/admin");
                     },
                     error: function (e) {
                        alert("Error!")
                        //console.log("ERROR: ", e);
                     }
                  });
      });
   });
     </script>
   </head>
   <body class="nav-md">
      <div class="container body">
         <div class="main_container">
            <div class="col-md-3 left_col">
         <!-- views/partials/head.ejs -->  
		         <% include ../views/partials/header.ejs%>
			<!-- page content -->
            <div class="right_col" role="main">
               <div class="">
                  <div class="row top_tiles">
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_panel">
                       <div class="x_title">
                         <h2>View class Attendence</h2>
                         <ul class="nav navbar-right panel_toolbox">
                           <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                           </li>
                           <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                             <ul class="dropdown-menu" role="menu">
                               <li><a href="#">Settings 1</a>
                               </li>
                               <li><a href="#">Settings 2</a>
                               </li>
                             </ul>
                           </li>
                           <li><a class="close-link"><i class="fa fa-close"></i></a>
                           </li>
                         </ul>
                         <div class="clearfix"></div>
                       </div>
                       <div class="x_content">
                         <p class="text-muted font-13 m-b-30">
                           Kindly fill all details . 
                         </p>

                         <div  id="Date" class="col-md-12 col-sm-12 col-xs-12">  
                         <div class="col-md-4 col-sm-4 col-xs-4">
                              
                              <label class="control-label col-md-6 col-sm-6 col-xs-6">Select Date</label>
                        </div>
                           <div class="col-md-8 col-sm-8 col-xs-8">
                              
                                 <div class="col-md-11 xdisplay_inputx form-group has-feedback">

                                      
                                       
                                       <input type="text" class="form-control has-feedback-left" id="single_cal2" placeholder="current Dates" aria-describedby="inputSuccess2Status2">
                                       <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                       <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                               </div> 
                           </div>
                       
                        </div>
                         
                         <div id="TodayDay" class="col-md-12 col-sm-12 col-xs-12">
                           <div class="col-md-4 col-sm-4 col-xs-4 form-group has-feedback">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Class
                                 <span class="required">*</span>
                              </label>
                              </div>
                              <div class="class=col-md-8 col-sm-8 col-xs-8 form-group has-feedback">
                                 <select class="form-control" id="SchoolClass" required>
                                    <option>Choose option</option>
                                 </select>
                              </div>
                              </div>
                              <div id="SelectType" class="col-md-12 col-sm-12 col-xs-12">
                           <div class="col-md-4 col-sm-4 col-xs-4 form-group has-feedback">
                              
                              <label class="control-label col-md-4 col-sm-4 col-xs-12" for="last-name">Section
                                 <span class="required">*</span>
                              </label>
                            </div>
                              
                              <div class="class=col-md-8 col-sm-8 col-xs-8 form-group has-feedback">
                                 <select class="form-control" id="schoolsection">
                                    <option>Choose option</option>
                                 </select>
                              </div>
                           </div>
                                 <div id="Submit" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                       <button type="submit" id="Submmit" class="btn btn-success">Submit</button>
                                 </div>
                                 <div class="col-md-12 col-sm-12 col-xs-12">
                                       <div class="x_panel">
                                          <div class="x_content">
                                             <p class="text-muted font-13 m-b-30">
                                               
                                             </p>
                                             <table id="datatable-buttons" class="table table-striped table-bordered">
                                                <thead>
                                                   <tr>
                                                      <th>Roll Number</th>
                                                      <th>First name</th>
                                                      <th>Middle name</th>
                                                      <th>Last name</th>
                                                      <td>Date</td>
                                                      <th>Status</th>
                                                      <th>Reason</th>
                                                      <th>Remarks</th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>


                      </div>
                     </div>
                   </div>
               </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
               <div class="pull-right">
                  Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
               </div>
               <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
         </div>
      </div>
   </div>
      <!-- Bootstrap -->
      <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- FastClick -->
      <script src="../fastclick/lib/fastclick.js"></script>
      <!-- jQuery Sparklines -->
      <script src="../jquery-sparkline/dist/jquery.sparkline.min.js"></script>
      <!-- DateJS -->
      <script src="../DateJS/date.js"></script>
      <!-- bootstrap-daterangepicker -->
      <script src="../moment/min/moment.min.js"></script>
      <script src="../bootstrap-daterangepicker/daterangepicker.js"></script>
      <!-- Custom Theme Scripts -->
      <!-- jQuery Smart Wizard -->
      <script src="../jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
      <!-- Custom Theme Scripts -->
      <script src="../js/custom.min.js"></script>
       <!-- bootstrap-datetimepicker -->    
    
   </body>
   <script type="text/javascript">

      $(document).ready(function(){
       


         $('#single_cal2').daterangepicker({
			  singleDatePicker: true,
           singleClasses: "picker_2",
           startDate: new Date(), 
           locale: {
                  format: 'YYYY-MM-DD'
            }
            
         }, function(start, end, label) {
            
           console.log(start.format('YYYY-MM-DD'),end.format('YYYY-MM-DD'), label);

            //$("#single_cal2").datepicker( "option", "minDate", end.format('YYYY-MM-DD') );

           
           $("#SelectType").show(500);
           $("#TodayDay").show(1000);
           $("#comments").show(1500);
           $("#Submit").show(2000);
           
           
        
            
         });
  
      	      		
    
      var selectValues = <%- JSON.stringify(classsec) %>;
      var classnames = [];
      for (i = 0; i < selectValues.length; i++) {
      if (classnames.includes(selectValues[i].class_Name)) {
      //	console.log()
      } else {
         $('#SchoolClass').append($("<option></option>")
            .attr("value", selectValues[i]._id)
            .text(selectValues[i].class_Name));
            classnames.push(selectValues[i].class_Name);
         }
      }

         $('#SchoolClass').on('change', function () {
         $("#SchoolClass").removeClass("parsley-error");
         $('#schoolsection').empty();
         var selectValues = <%- JSON.stringify(classsec) %>;
         var selectedval = $("#SchoolClass option:selected").html();
         for (i = 0; i < selectValues.length; i++) {
            var dataclass = selectValues[i].class_Name
            if (selectedval == dataclass) {
               //console.log("Not doufnd"+dataclass);
               $('#schoolsection').append($("<option></option>")
                  .attr("value", selectValues[i]._id)
                  .text(selectValues[i].class_section));
            }
      }
   });
});
      	
       
       
   </script>
</html>